.oc-menu .li-top-item {
	background:none !important;
}
.oc-menu .mega-menu-container .a-mega-second-link {
	margin-bottom:25px;
}
.oc-menu .mega-menu-container .a-mega-second-link strong {
	font-size:12px;
	font-weight:600;
	text-transform: uppercase;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.oc-menu .mega-menu-container .a-mega-third-link h5 {
	font-size:14px;
	color:#b2b2b2;
	font-weight:300;
	line-height:35px;
	margin:0;
	text-transform: capitalize;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.oc-menu .mega-menu-container .a-mega-second-link strong:hover,
.oc-menu .mega-menu-container .a-mega-third-link h5:hover {
	color:#b3936d !important;
}
.oc-menu a {
    text-decoration: none;
    display: block;
}
.oc-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.oc-menu .sub-menu-container {
    z-index: 100;
    display: none;
}
.oc-menu .ul-top-items .li-top-item a {
    display: block;
	position:relative;
	font-family: Poppins, sans-serif;
}
.oc-menu .ul-top-items .li-top-item a.a-top-link {
	border-right:1px solid #eeeeef;
}
.oc-menu.horizontal-menu .ul-top-items .li-top-item:first-child a.a-top-link  {
	padding: 20px 23px 20px 0 !important;
}
.oc-menu .ul-top-items .li-top-item:last-child a.a-top-link {
	border:0;
}
.common-home .oc-menu .mega-menu-container {
	border:0;
}
/* Horizontal Menu */
.horizontal-menu {
    width: 100%;
    position: relative;
}
.horizontal-menu .ul-top-items .li-top-item {
    display: block;
    margin: 0;
}
.horizontal-menu .ul-top-items .li-top-item.right {
    float: right;
    position: relative;
    text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item.mega-right {
    float: right;
    text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item .a-top-link .fa {
    margin-left: 5px;
}
.horizontal-menu .ul-top-items .li-top-item.right .a-top-link .fa,
.horizontal-menu .ul-top-items .li-top-item.mega-right .a-top-link .fa{
    float: left;
    line-height: inherit;
    margin-left: 0;
    margin-right: 10px;
}
.horizontal-menu .sub-menu-container {
    position: absolute;
	box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.right {
    text-align: right;
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.left {
    text-align: left;
}
.horizontal-menu .ul-top-items .li-top-item.right .mega-menu-container {
    right: 0;
}
.horizontal-menu .ul-top-items .li-top-item .mega-menu-container.full-width {
    left: 0;
    right: 0;
    width: 100%;
}
.horizontal-menu .mega-menu-container .sub-item2-content {
    padding: 0;
    float: left;
}
.horizontal-menu .flyout-menu-container {
    width: 230px;
	padding:30px;
	background:#171e26;
}
.horizontal-menu .flyout-menu-container.left .a-item .fa {
    float: right;
    line-height: inherit;
}
.horizontal-menu .flyout-menu-container.left {
    float: left;
}
.horizontal-menu .flyout-menu-container.right {
    float: right;
    right: 0;
}
.horizontal-menu .flyout-menu-container.right .a-item .fa {
    float: left;
    line-height: inherit;
}
.horizontal-menu .flyout-menu-container.right .li-second-items {
    position: relative;
}
.horizontal-menu .ul-second-items .li-second-items {
    position: relative;
}
.horizontal-menu .ul-second-items .li-second-items .a-second-link {
    padding: 10px;
}
.horizontal-menu .flyout-third-items {
    position: absolute;
    top: 0;
    display: none;
}
.horizontal-menu .flyout-third-items.left {
    left: 100%;
}
.horizontal-menu .flyout-third-items.right {
    right: 100%;
}
.horizontal-menu .ul-third-items .li-third-items .a-third-link {
    white-space: nowrap;
    padding: 10px;
}

/* Vertical Menu */
.vertical-menu .oc-menu-bar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}
.vertical-menu .oc-menu-bar:hover {
    cursor: pointer;
}
.vertical-menu .oc-menu-bar .left {
    float: left;
    padding: 10px 0 10px 10px;
}
.vertical-menu .oc-menu-bar .left .fa{
    margin-right: 10px;
}
.vertical-menu .oc-menu-bar .right {
    float: right;
    padding: 10px 10px 10px 0;
}
.vertical-menu .ul-top-items {
    display: none;
}
.vertical-menu .ul-top-items .li-top-item {
    display: block;
    margin: 0;
    position: relative;
}
.vertical-menu .ul-top-items .a-item .fa{
    float: right;
    line-height: inherit;
}
.vertical-menu .ul-top-items .li-top-item.over {
    display: none;
}
.vertical-menu .li-top-item .sub-menu-container {
    position: absolute;
    top: 0;
    left: 100%;
}
.vertical-menu .flyout-menu-container {
    width: auto;
    float: left;
    width: 200px;
}
.vertical-menu .ul-second-items .li-second-items {
    position: relative;
}
.vertical-menu .ul-second-items .li-second-items .a-second-link {
    padding: 10px;
}
.vertical-menu .flyout-third-items {
    position: absolute;
    top: 0;
    display: none;
}
.vertical-menu .flyout-third-items {
    left: 100%;
}
.vertical-menu .ul-third-items .li-third-items .a-third-link {
    white-space: nowrap;
    padding: 10px;
}

/* Mobile Menu */
.mobile-menu {
	position:relative;
	z-index:999;
	text-align:left;
}
.mobile-menu .oc-menu-bar {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
	padding:0 20px;
}
.mobile-menu .oc-menu-bar .left {
    float: left;
    padding:0;
	line-height: 50px;
}
.mobile-menu .oc-menu-bar .left .fa {
    margin-right: 10px;
}
.mobile-menu .oc-menu-bar .right {
    float: right;
    padding: 0;
    line-height: 50px;
}
.mobile-menu .oc-menu-bar .right:hover {
    cursor: pointer;
}
.mobile-menu .ul-top-items {
    display: none;
	background:#434343;
	padding:10px 0;
	position:absolute;
	left:0;
	width:100%;
}
.mobile-menu .sub-menu-container {
    display: none;
}
.mobile-menu .li-top-item {
    position: relative;
	padding:0 15px;
	line-height:35px;
}
.mobile-menu .a-click-show {
    position: absolute;
    right: 10px;
    top: 5px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
}
.mobile-menu  .a-click-show i {
    display: inline-block;
    vertical-align: top;
    line-height: inherit;
}
.mobile-menu .a-click-show .fa-minus{
    display: none;
}
.mobile-menu .expand > .a-click-show .fa-minus {
    display: inline-block;
}
.mobile-menu .expand > .a-click-show .fa-plus{
    display: none;
}
.mobile-menu .ul-second-items .li-second-items {
    position: relative;
	line-height:30px;
}
.mobile-menu .ul-second-items .li-second-items .a-second-link {
    padding: 10px;
}
.mobile-menu .flyout-third-items {
    display: none;
}
.mobile-menu .ul-third-items .li-third-items .a-third-link {
    padding: 10px;
}
@media (max-width: 1199px){
	.oc-menu.horizontal-menu .ul-top-items .li-top-item .a-top-link {
		padding:20px 15px !important;
	}
}