.product-zoom-image {
	overflow: inherit;
    margin: 0;
    padding: 0;
	position:relative;
	z-index:99;
}
.product-zoom-image .mousetrap, .product-zoom-image .cloud-zoom {
	width: 100% !important;
    height: 100% !important;
    border-radius: 6px;
    overflow: hidden;
}
.additional-images { 
	margin: 20px 0;
	padding:0 50px;
}
.additional-images .item {
	border:1px solid #edecec;
	position:relative;
}
.additional-images .item:before {
	position:absolute;
	height:100%;
	width:100%;
	content:'';
	border:1px solid grba(0,0,0,0);
}
.additional-images .item:hover:before {
	border:1px solid #bda87f;
}
.additional-images.owl-carousel .owl-dots.disabled,.additional-images.owl-carousel .owl-nav.disabled {
	display:inline-block;
}
.additional-images.owl-carousel .owl-nav > .owl-next,.additional-images.owl-carousel .owl-nav > .owl-prev {
	width:30px;
	height:30px;
	line-height:26px;
	border:2px solid #ebebeb;
	font-size:0;
	opacity:1;
} 
.additional-images.owl-carousel .owl-nav > .owl-next:hover,.additional-images.owl-carousel .owl-nav > .owl-prev:hover {
	border-color:#bda87f;
	background:#bda87f;
}
.additional-images.owl-carousel .owl-nav > .owl-next:before,.additional-images.owl-carousel .owl-nav > .owl-prev:before {
	line-height:25px;
	font-family:'FontAwesome';
	font-size:16px;
	color:#bdbfbe;
}
.additional-images.owl-carousel .owl-nav > .owl-next:hover:before,.additional-images.owl-carousel .owl-nav > .owl-prev:hover:before {
	color:#fff;
}
.additional-images.owl-carousel .owl-nav > .owl-prev {
	left:10px;
}
.additional-images.owl-carousel .owl-nav > .owl-next {
	right:10px;
}
.additional-images.owl-carousel .owl-nav > .owl-next:before {
	content: "\f105";
}
.additional-images.owl-carousel .owl-nav > .owl-prev:before {
	content: "\f104";
}
.additional-images .item:hover {
	border-color:#bda87f;
}
.lightbox-container {
    display: none;
    position: fixed;
    z-index: 10000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
	text-align:center;
}
.lightbox-content {
    position: relative;
    margin: auto;
    padding: 0;
    top: 20%;
    width: 90%;
    max-width: 1200px;
}
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    opacity: 1;
}
.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}
.mySlides {
    display: none;
    text-align:  center;
    background: #000;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}
.prev {
	left:0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.numbertext {
    color: #f2f2f2;
    font-size: 14px;
    padding: 8px 12px;
    position: absolute;
    top: -50px;
    left: 50%;
}
@media (max-width: 1366px) {
    .lightbox-content {
        top: 10%;
    }
}