body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #555555;
	font-size: 13px;
	line-height: 20px;
	width: 100%;
	background:#fff;
}
.wrapper {
	padding:0 30px;
}
*:focus{
	outline: none !important;
}
h1, h2, h3, h4, h5, h6 {
	color: #676767;
	line-height: 1;
	text-transform: uppercase;
	margin:0 0 10px;
}
/* default font size */
.fa {
	font-size: 14px;
}
/* Override the bootstrap defaults */	
h1 {
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h2 {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h3 {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h4 {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h5 {
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
h6 {
	font-size: 10.2px;
	font-family: 'Roboto', sans-serif;
	font-weight:500;
}
a {
	color: #2f3844;
	cursor: pointer;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
a:focus,
a:active,
a:hover {
	text-decoration: none;
	color: #bda87f;
}
legend {
	font-size: 18px;
	padding: 7px 0px
}
label {
	font-size: 14px;
	font-weight: normal;
}
select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
	font-size: 12px;
	box-shadow:none !important;
	border-radius:0;
}
.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
	font-size: 12px;
}
.input-group .input-group-addon {
	font-size: 12px;
	height: 30px;
}
.table-bordered td {
	vertical-align: middle !important;
	text-align:center;
}
img{
	max-width: 100%; 
	height: auto;
}
/* wishlist */
.account-wishlist a.btn {
	height:34px;
	line-height:34px;
	padding:0 15px;
	border-radius:5px;
}
/* Fix some bootstrap issues */
span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
	display: inline;
}
.flip{
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	display: inline-block;
}
.nav-tabs {
	margin-bottom: 15px;
}
div.required .control-label:before {
	content: '* ';
	color: #F00;
	font-weight: bold;
}
/* tooltip */
.tooltip.top .tooltip-arrow {
  border-top-color: #888;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #888;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #888;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #888;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #888;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #888;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #888;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #888;
}
.tooltip-inner{
	background: #888;
}
.alert {
	text-align: center;
	font-size: 12px;
	margin: 0;
	border-radius: 0;
	border: none;
	font-family: 'Roboto', sans-serif;
}
/* transition */
.owl-nav > div, .banner-2 img,
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	-webkit-transition: ease-in-out all .3s;
	-moz-transition: ease-in-out all .3s;
	transition: ease-in-out all .3s;
}
#button-guest:hover, #button-search:hover, #button-review:hover, #button-account:hover,
#button-login:hover, #button-confirm:hover, #button-payment-method:hover, #button-register:hover,
#button-shipping-method:hover, #button-quote:hover, #button-coupon:hover,
.form-horizontal input.btn:hover, a.btn:hover, input[type='submit']:hover, .button:hover{
	color: #fff !important;
    background: #bda87f !important;
	border-color:#bda87f;
}
#button-guest, #button-search, #button-review, #button-account, #button-login, #button-confirm,
#button-payment-method, #button-shipping-method, #button-quote, #button-coupon, #button-register,
.form-horizontal input.btn, a.btn, input[type='submit'], .button{
	border:0;
	background: #2f2f3c !important;
	padding: 0 30px;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff !important;
	line-height: 40px;
	height: 40px;
	display: inline-block;
	font-weight: 500;
	border-radius: 0;
	box-shadow:none !important;
}
#button-voucher,
#button-coupon{
	height: 34px;
	line-height:32px;
	margin-left: 10px;
}
#button-search + h2{
	display: none;
}
#button-search{
	margin: 15px 0;
}
#modal-agree{
	z-index: 1000000;
}
/* page */
.checkout-cart h1 {
	color:#676767;
	font-weight:500;
	margin-bottom:20px;
}
.checkout-cart h2 {
	color:#676767;
	font-weight:500;
}
.checkout-cart #checkout-cart .img-thumbnail {
	background:none;
	border:0;
}
.checkout-checkout h1 {
	color:#676767;
}
.account-account h2 {
	color:#676767;
	margin-bottom:20px;
}
.product-manufacturer #content a {
	color:#676767;
}
.product-manufacturer #content a:hover {
	color:#bda87f;
}
/* header */ 
.common-home header {
	border:0;
}
header {
	position:relative;
	z-index:9;
	border-bottom:1px solid #ebebeb;
}
header .container {
	width:100%;
	padding:0;
}
.header-top {
	border-bottom:1px solid #c0cace;
}
.container-fix {
	padding:40px 0;
	border-bottom:1px solid #c0cace;
}
/* top-welcome */
.top-welcome {
	margin-top:10px;
	color:#fff;
}

/* top-email */
.top-email {
	color:#fff;
	float:left;
}
.top-email i {
	font-size:22px;	
}
.top-email p {
	font-size:13px;
	margin: 0;
}
/* currency */
.currency {
	display:inline-block;
	width:100%;
	margin:15px 0 0;
}
.currency label {
	margin: 0 0 5px;
    font-size: 13px;
    color: #232323;
    width: 100%;
    display: inline-block;
    font-weight: 600;
}
.currency .btn-link {
	border: 0;
    padding: 0 0 0 10px;
	line-height:44px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    text-decoration: none;
	float:left;
	display:none;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.currency .btn-link i {
	margin-left:3px;
	font-size:14px;
}
.currency .btn-link:hover {
	color:#85979d;
}
.currency .btn-link strong {
	font-weight:400;
}
#form-currency .dropdown-menu {
	border: 0;
    left: initial;
    right: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-width: 120px;
    background: none;
    display: block;
    position: initial;
    width: 100%;
}
#form-currency .dropdown-menu li button {
	color: #232323;
	font-size:13px;
    text-decoration: none;
    padding: 6px 0;
	line-height:20px;
    margin-bottom: 3px;
    text-align: left;
	text-transform:capitalize;
	border-bottom: 1px solid #eeeeee;
	display:block;
}
#form-currency .dropdown-menu li button:hover {
	color:#bda87f;
}
#form-currency .dropdown-menu li:last-child button {
	padding:6px 0 0;
	border:0;
	margin:0;
}
/* language */
.language {
    display:inline-block;
	width:100%;
	margin:10px 0 0;
}
.language label {
    margin: 0 0 5px;
    font-size: 13px;
    color: #232323;
	width:100%;
	display:inline-block;
	font-weight:600;
}
.language .btn-link {
	float:left;
    border: 0;
    padding: 0 0 0 25px;
    line-height: 44px;
    color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
	position:relative;
	margin-left:10px;
	display:none;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.language .btn-link:hover {
	color:#85979d;
}
.language .btn-link i {
	font-size:14px;
}
.language .btn-language img {
	margin-right:6px;
	position:absolute;
	top:17px;
	left:0;
}
#form-language .dropdown-menu {
	border: 0;
    left: initial;
    right: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-width: 120px;
    background: none;
    display: block;
    position: initial;
    width: 100%;
}
#form-language .dropdown-menu li button {
	color: #232323;
	font-size:13px;
    text-decoration: none;
    padding: 6px 0 6px 25px;
	line-height:20px;
    margin:0 0 3px;
    text-align:left;
	border-bottom: 1px solid #eeeeee;
	position:relative;
	display:block;
}
#form-language .dropdown-menu li button:hover {
	color:#bda87f;
}
#form-language .dropdown-menu li:last-child button {
	border:0;
	padding:6px 0 0 25px;
	margin:0;
}
#form-language .dropdown-menu li button img {
	margin-right:8px;
	position:absolute;
	top:10px;
	left:0;
}
/* top-link */
#top-links {
	display:inline-block;
	width:100%;
}
#top-links .list-inline {
	margin:0;
	padding:0;
}
#top-links li.dropdown {
	padding: 0;
    margin: 0;
    width: 100%;
}
#top-links .dropdown-menu {
    border: 0;
    left: 0;
    padding: 10px 15px;
    box-shadow: 0 0 9.6px 0.4px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    min-width: 120px;
    background: #fff;
}
#top-links label {
	color: #fff;
    font-size: 12px;
    text-transform: capitalize;
    position: relative;
	padding:0 0 0 30px;
	line-height:44px;
	display: initial;
    text-decoration: none;
	cursor:pointer;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#top-links label:hover {
	color:#85979d;
}
#top-links label i {
	margin-left:6px;
	font-size:14px;
}
#top-links label i.ion-gear-a {
	margin-left:0;
	margin-right:7px;
}
#top-links .dropdown-menu {
    border: 0;
    left: initial;
    right: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    margin: 0;
    min-width: 120px;
    background: none;
    display: block;
    position: initial;
    width: 100%;
}
#top-links .dropdown-menu li a {
	background:none;
	color: #232323;
    font-size: 13px;
    text-decoration: none;
    padding: 6px 0;
    line-height: 20px;
    margin-bottom: 3px;
    text-align: left;
	border-bottom:1px solid #eeeeee;
}
#top-links .dropdown-menu li a:hover {
	color:#bda87f;
}
#top-links .dropdown-menu li:last-child a {
	border:0;
	padding:6px 0 0;
	margin:0;
}
/* block-right */
.block-right { float:right; text-align:right; }
/* top */
#top > .container > ul > li{
	display: inline-block;
}
#top > .container > ul{
	margin: 0;
}
#top .text-ex{
	color: #292929;	
	display: block;
	text-transform: uppercase;
	font-weight: 600;
	border-bottom: 1px solid rgba(55,55,55,.1);
	padding-bottom: 5px;
}
#top > .container > ul:first-child{
	padding: 12px 0;
}
#top > .container > ul:first-child > li{
	padding: 0;
}
#top > .container > ul:first-child > li >span:not(.text-ex){
	color: #888;
}
#top > .container > ul:last-child{
}
#top.text-ex{
	padding: 12px 0px;
	margin-right: 5px;
	font-size: 13px;
}
.top-links{
	margin: 0;
}
.top-links > li:not(:last-child){
	margin-bottom: 20px;
}
#top> li{
	padding: 0 20px;
	position: relative;
}
#top-links a,
#top.dropdown-menu a,
#top.dropdown-menu button{
	display: block;
	
}
#top-links a:hover,
#top.dropdown-menu a:hover,
#top.dropdown-menu button:hover,
#top.dropdown-menu .item-selected{
	color: #888;
	text-decoration: none;
}
.logo-container {
	margin:18px 0 0;
}
#logo a{
	display: inline-block;
}
/* search */
.header-search {
    margin: 0 25px 0 0;
    float: right;
}
.search-containers {
	float: left;
	margin-left:50px;
}
.search-container {
	position: relative;
	z-index: 113;
	padding:29px 0 32px;
}
.search-content {
	position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
.header-search .search-icon {
	font-size:18px;
	color:#232323;
	cursor:pointer;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.header-search .search-icon:hover {
	color:#bda87f;
}
#search {
	width: 350px;
    background: #ffffff;
    display: inline-block;
    margin: 0;
	position:relative;
	border-radius:3px;
	box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
#search input{
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0 40px 0 15px;
	background: none;
	color: #3c4651;
	font-size:13px;
	font-weight:300;
	width: 100%;
	height: 41px;
	line-height: 41px;	
	text-transform:capitalize;
	font-style:italic;
	font-family: 'Roboto', sans-serif;
}
#search input::-webkit-input-placeholder{
  color: #bababa;
}
#search input::-moz-placeholder{
  color: #bababa;
}
#search input:-ms-input-placeholder{
  color: #bababa;
}
#search input:-moz-placeholder {
  color: #bababa;
}
#search button {
	width:50px;
	height:41px;
	line-height:41px;
	border: none;
	border-radius: 0 30px 30px 0;
	box-shadow: none;
	padding: 0;
	font-size: 0;
	font-weight:400;
	background: none !important;
	position: absolute;
	top:0;
	right:0;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#search button i {
	color:#232323;
	font-size: 18px;
	line-height:41px;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#search button:hover i{
	color: #bda87f;
}
#search.expand-search > i:hover{
	color: #ee3333;
}
#search.expand-search > i{
	color: #fff
}
#search.expand-search > input{
	max-width: 250px;
	padding: 0 0 0 20px;
	background: #222;
	margin-top: -10px;
	color: #fff;
}
/* newsletter popup */
.b-close{
	display: block;
}
.b-close:before {
	font-family: "Ionicons";
	content: "\f2d7";
	display:inline-block;
	color:#434343;
	font-size:16px;
}
.b-close span { display:none; }
.newletter-popup{
	background: #fff;
    top: 50% !important;
    margin-top: -179px;
    position: fixed !important;
    padding: 50px;
    text-align: center;
    display: none;
}
#boxes .newletter-title h2{
	font-size: 30px;
	text-transform: uppercase;
	color: #343434;
	margin: 0 0 30px;
}
#boxes .box-content label{
	font-weight: 400;
	font-size:13px;
}
#boxes .box-content .newletter-label {
	width:70%;
}
#boxes  #frm_subscribe .required{
	color: #f00;
	padding-right: 5px;
}
#boxes  #frm_subscribe a{
	cursor: pointer;
}
#boxes  #frm_subscribe #subscribe_pemail{
	background: #EBEBEB none repeat scroll 0% 0%;
	border: medium none;
	height: 40px;
	width: 50%;
	margin: 20px 0 30px;
	padding: 0 15px;
}
#boxes .box-content .subscribe-bottom{
	margin-top: 20px;
}
#boxes .box-content .subscribe-bottom  label{
	margin: 0;
	font-size:13px;
}
#boxes .box-content .subscribe-bottom #newsletter_popup_dont_show_again{
	display: inline-block;
	margin: 0;
}
#boxes  #frm_subscribe #notification{
	color: #f00;
}
#boxes  #frm_subscribe #notification .success{
	color: #67D7BB;
}
#popup2{
	position: absolute;
	right: -12px;
	top: -12px;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	background: #fff;
	border-radius: 100%;
	cursor: pointer;
}
/* newsllter */
.newletter-subscribe {
	display:inline-block;
	width:100%;
}
#dialog-normal .newletter-title h6{
	color: #ffffff;
	font-size: 30px;
	margin: 0;
	text-transform:capitalize;
	font-family: 'Prata', serif;
	font-weight:400;
	display:none;
}
#dialog-normal .des-testimonial{
	line-height: 24px;
	letter-spacing: .025em;
	margin: 0 0 55px 0;
}
#dialog-normal .newletter-title h3{
	font-size: 14px;
	color: #676767;
	font-weight:400;
	margin: 0;
	text-transform:inherit;
	text-align:left;
	line-height:22px;
}
#dialog-normal{
	text-align: center;
}
#frm_subscribe-normal{
	display:inline-block;
	width: 100%;
	position:relative;
	margin:30px 0 0;
}
#subscribe_email{
	background: #fff;
	font-size:12px;
	color: #b2b2b2;
	font-weight:400;
	display: block;
	padding: 0 110px 0 10px;
	height: 40px;
	width: 100%;
	float: left;
	margin: 0;
	border:0;
	border-radius:20px;
}
#subscribe_email::-webkit-input-placeholder{
  color: #9d9d9d;
}
#subscribe_email::-moz-placeholder{
  color: #9d9d9d;
}
#subscribe_email:-ms-input-placeholder{
  color: #9d9d9d;
}
#subscribe_email:-moz-placeholder {
  color: #9d9d9d;
}
#subscribe .btn {
	border: none;
	background: #252531 !important;
	padding: 0 20px;
	height: 40px;
	line-height:40px;
	position: absolute;
	right: 0;
	top: 0;
	font-size: 14px;
	color: #ffffff !important;
	font-weight: 400;
	text-transform: capitalize;
	border-radius: 0 30px 30px 0;
}
#subscribe .btn:hover{
	background: #bda87f !important;
}
#notification-normal{
	text-align: left;
	clear: both;
}
#notification-normal div{
	color: #0b9c08;
}
#notification-normal div.warning{
	color: #f00;
	text-align: left;
}
/* blog */
#blog_home {
	margin:50px 0 0;
}
#blog_home .articles-inner {
	overflow: hidden;
	padding:0;
	border:0;
	box-shadow:none;
}
#blog_home .aritcles-content {
	text-align:left;
	margin:25px 0 0;
}
#blog_home .row_items .articles-inner:hover .articles-image .readmore,
#blog_home .row_items .articles-inner:hover .articles-image::before{
	opacity: 1;
}
#blog_home .row_items .articles-inner .articles-image{
	position: relative;
}
#blog_home .articles-date span {
	display: block;
	margin-bottom:0;
}
#blog_home .articles-date {
	background:#fff;
	padding:10px 12px;
	font-size: 16px;
	color: #252531;
	font-weight: 500;
	line-height: 1;
	text-transform: capitalize;
	float:left;
	text-align:center;
	position:absolute;
	top:20px;
	right:20px;
}
#blog_home .articles-date .author{
	color: #888;
	padding-left: 15px;
}
.articles-name {
	font-size: 14px;
	font-weight: 600;
	color: #252531;
	font-family: 'Poppins', sans-serif;
	margin: 0 0 10px;
	display: block;
	text-transform: uppercase;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.articles-name:hover {
	color:#ac8d6a;
}
.articles-name + span{
	color: #bda87f;
	text-transform: capitalize;
	font-size:14px;
	font-weight:400;
}
.articles-intro {
	line-height: 22px;
	font-size:14px;
	color:#676767;
	font-weight:400;
	margin: 18px 0 0;
}
.readmore {
	margin:23px 0 0;
}
.readmore a {
	color: #2f3844;
	font-size: 13px;
	font-weight:500;
	display: inline-block;
	text-transform:uppercase;
	height:45px;
	line-height:42px;
	padding:0 30px;
	border:2px solid #28313c;
	border-radius:3px;
}
.readmore a:hover { 
	color:#fff;
	border-color:#bda87f;
	background:#bda87f;
}
.blog-blog .article-titles { margin-bottom:40px; }
.blog-blog .article-titles h3 {
	font-size:25px;
	margin:0;
}
.blog-blog .article-name a {
	font-size:18px;
}
.blog-blog .intro-text { margin:20px 0 0; }
.blog-blog .readmore-page {
	font-size:14px;
	font-weight:700;
	margin:20px 0 0;
	display:block;
}
.blog-blog .article-item-inner {
	margin-bottom:40px;
}
.blog-blog .article-list:last-child .article-item-inner {
	margin:0;
}
.blog-article .article-text {
	margin-top:30px;
	text-align:left;
}
.blog-article .article-title { margin-top:20px; }
.blog-article .article-image img {
	width:100%;
}
.blog-blog .blog-image img {
	width:100%;
}
/* cart */
.header-cart {
	float:right;
}
#cart {
	padding:27px 0 32px;
	padding-right:25px;
}
#cart-total {
	display:block;
	width:100%;
	color:#fff;
	font-size:0;
}
#cart-total .number-cart {
	width:19px;
	height:19px;
	line-height:19px;
	background:#bda87f;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 10px;
	text-transform: capitalize;
	float: left;
	position:absolute;
	top:0;
	left:20px;
	text-align: center;
	border-radius:100%;
}
#cart-total .total-price{
	font-weight: 400;
	font-size: 14px;
	display: block;
	text-align: left;
}
#cart > button {
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	width: auto;
	float: right;
	text-align:left;
	position:relative;
}
#cart .dropdown-cart i {
	font-size: 18px;
	color: #232323;
	line-height: 1;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#cart > button > i:hover {
	color:#bda87f;
}
#cart .dropdown-menu .text-empty{
	margin: 0;
	padding: 10px 0;
}
#cart .dropdown-menu {
	background: #fff;
    border: 0;
    min-width: 355px;
    margin: 0;
    padding: 35px 35px 0;
    top: 100%;
    border-radius: 3px;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 13px;
}
#cart .dropdown-menu:before {
    content: '';
    width: 0px;
    height: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    right: 18px;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.common-home #cart .dropdown-menu {
	border:0;
}
#cart .dropdown-menu .cart-empty {
    padding-bottom: 35px;
    margin: 0;
}
#cart-total .item-cart {
	position: absolute;
	display: block;
	width: 24px;
	height: 24px;
	background: #888;
	border: 2px solid #fff;
	color: #fff;
	top: -8px;
	left: 32px;
	border-radius: 100%;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	font-weight: 400 !important;
}
#cart .dropdown-menu .cart-button { 
	padding: 25px 35px;
    margin: 15px -35px 0;
    background: #363f4d;
}
#cart .table > tbody > tr > td{
	border: none;
	padding: 0;
}
#cart .cart-close button:hover{
	color: #888;
}
#cart .cart-close button {
	background: none !important;
    color: #363f4d;
    border: none;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    box-shadow: none !important;
    position: absolute;
    top: 8px;
    right: 0;
    padding: 0;
}
#cart .cart-close button i {
	font-size: 12px;
    color: #363f4d;
}
#cart .cart-close button:hover i {
	color:#bda87f;
}
#cart .cart-quantity{
	color: #54595e;
	font-size: 13px;
	margin: 5px 0 8px 0 !important;
	display:inline-block;
	width:100%;
}
#cart .cart-name:hover{
	color: #bda87f;
}
#cart .cart-name{
	color: #292929;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 16px;
	font-weight: 500;
}
#cart .cart-price{
	font-size: 16px;
	color: #929292;
}
#cart p.cart-button a:last-child{
	margin: 0;
}
#cart p.cart-button {
	text-align:left;
}
#cart p.cart-button a {
	border: 0;
	background: #495465;
    color: #fff;
    height: 50px;
    line-height: 53px;
    text-align: center;
    padding: 0 30px;
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    display: inline-block;
    width: 100%;
    border-radius: 3px;
}
#cart p.cart-button a:hover{
	color: #fff;
	background: #bda87f;
	border-color:#bda87f;
}
#cart .cart-button a.view-cart {
    margin-bottom: 15px;
}
#cart .dropdown-menu .info-item {
	padding:10px 20px;
}
#cart .dropdown-menu .info-item a {
	font-size:14px;
	color:#676767;
	display:block;
	font-weight:400;
}
#cart .dropdown-menu .info-item a:hover {
	color:#bda87f;
}
#cart .dropdown-menu .info-item .cart-price {
	font-size:16px;
	color:#bda87f;
	display:inline-block;
	font-weight:500;
}
#cart .dropdown-menu tr td strong{
	color: #000;
}
#cart .dropdown-menu tr td:first-child{
	font-size: 13px;
    color: #232323;
    text-transform: uppercase;
    font-weight: 500;
}
#cart .dropdown-menu tr td:last-child{
	font-size: 14px;
    color: #363f4d;
    font-weight: 500;
}
#cart .dropdown-menu .cart-totals .text-left {
    float: left;
}
#cart .dropdown-menu .cart-totals .text-right {
    float: right;
}
#cart .dropdown-menu .cart-close {
	margin-left:20px;
}
.unvisible{
	display: none;
}
#cart .dropdown-menu .has-scroll table tr {
	border-bottom: 1px solid #ebebeb;
    padding: 0 0 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    position: relative;
}
#cart .dropdown-menu .has-scroll table tr:last-child {
    margin-bottom: 10px;
}
#cart .dropdown-menu .cart-totals {
	padding:0;
	margin:0;
	display: inline-block;
}
#cart .dropdown-menu .cart-totals tbody,
#cart .dropdown-menu .cart-totals tbody tr {
	width:100%;
	display:inline-block;
}
#cart .dropdown-menu .cart-totals tbody tr {
	margin-bottom:10px;
}
/* header-link */
.header-link {
	float: right;
    position: relative;
	margin:0 25px 0 0;
	padding:27px 0 32px;
}
.header-link .link-icon {
	font-size:18px;
	color:#232323;
	cursor:pointer;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.header-link .link-icon:hover {
	color:#bda87f;
}
.header-link .box-content {
    background: #fff;
    padding: 12px 12px 15px;
    position: absolute;
    right: -30px;
    top: 100%;
    width: 175px;
    text-align: left;
    margin-top: 0;
    display: none;
	border-radius:3px;
	box-shadow:0px 0px 50px 0px rgba(0, 0, 0, 0.1);
}
/* fix */
.fix-header{
	background:#fff;
	left: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9997;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.fix-header .logo-container{
	margin:15px 0 0;
}
.fix-header .block-right {
	margin:23px 0 0;
}
.fix-header #cart .dropdown-menu {
	top:43px;
}
/* home-welcome */
.home-welcome {
	padding:40px 0 0;
	text-align:center;
}
.home-welcome h3 {
	font-family: 'Great Vibes', cursive;
	font-size:30px;
	color:#bda87f;
	text-transform:capitalize;
	font-weight:400;
	margin:0;
}
.home-welcome h2 {
	font-size:36px;
	color:#fff;
	font-family: 'Prata', serif;
	margin:10px 0 35px;
	text-transform:capitalize;
	font-weight:400;
}
.home-welcome p {
	font-size:14px;
	color:#b2b2b2;
	font-style:italic;
	margin:0 0 30px;
	line-height:22px;
	font-weight:300;
}
.home-welcome img {
	margin:20px 0 0;
}
/* banner-static */
.banner-static {
	margin-top:30px;
}
.banner-static .col {
	position:relative;
	overflow:hidden;
}
.banner-static .col .banner-content {
	position:absolute;
	top:50px;
	padding:0 30px;
	width:100%;
	text-align:center;
}
.banner-static .banner-content h2 {
	font-size: 24px;
    color: #fff;
	text-transform:capitalize;
	font-weight:400;
	margin:23px 0 0;
    font-family: 'Prata', serif;
}
.banner-static .banner-content p {
	font-size:14px;
	color:#b2b2b2;
	margin:20px 0 0;
	line-height:22px;
	font-weight:300;
}
.banner-static .banner-content a {
	height:55px;
	line-height:53px;
	border:2px solid #bda87f;
	border-radius:3px;
	display:inline-block;
	color:#bda87f;
	font-size:13px;
	padding:0 30px;
	font-weight:500;
	text-transform:uppercase;
	margin-top:50px;
}
.banner-static .banner-content a:hover {
	border-color:#fff;
	color:#fff;
}
.banner-static .col:before {
	position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    pointer-events: none;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.banner-static .col:hover:before {
	box-shadow: 0 0 0 15px rgba(0,0,0,0.2) inset;
}
/* banner-center */
.banner-center {
	margin:10px 0 0;
}
.banner-center .col {
	position:relative;
	overflow:hidden;
}
.banner-center .banner-text {
	position:absolute;
	padding:0 30px;
	left:0;
	top:50%;
	text-align:left;
	-webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
}
.banner-center .banner-text h2 {
	font-size:18px;
	color:#252531;
	text-transform:uppercase;
	margin:0;
	font-weight:600;
	font-family: 'Poppins', sans-serif;
}
.banner-center .banner-text h2 span {
	color:#22706b;
	display:block;
	margin:2px 0 0;
}
.banner-center .col2 .banner-text  h2 span {
	color:#a36444;
}
.banner-center .col3 .banner-text  h2 span {
	color:#88af5e;
}
.banner-center .banner-text a {
	font-size:12px;
	color:#8c8c8c;
	text-decoration:underline;
	margin:20px 0 0;
	display:block;
}
.banner-center .banner-text a:hover {
	color:#bda87f;
	padding-left:5px;
}
.banner-center img {
	-webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    transition: ease .5s all;
}
.banner-center img:hover {
	opacity:0.7;
}
/* banner-bottom */
.banner-bottom {
	margin:60px 0 0;
}
.banner-bottom .container-inner {
	border-top:1px solid #ebebeb;
	padding:55px 0 45px;
}
.banner-bottom .icon-banner {
	width: 60px;
	text-align:center;
	float:left;
}
.banner-bottom .icon-banner:before {
    content: "";
	width:60px;
	height:60px;
	display:inline-block;
	background:url("../image/icon1.png") no-repeat 0 0;
}
.banner-bottom .col2 .icon-banner:before {
	background:url("../image/icon2.png") no-repeat 0 0;
}
.banner-bottom .col3 .icon-banner:before {
	background:url("../image/icon3.png") no-repeat 0 0;
}
.banner-bottom .col4 .icon-banner:before {
	background:url("../image/icon4.png") no-repeat 0 0;
}
.banner-bottom .banner-text {
	margin-left:70px;
	padding-top:12px;
}
.banner-bottom h2 {
	font-size:14px;
	color:#252531;
	font-weight:600;
	margin:0;
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
}
.banner-bottom p {
	font-size:14px;
	color:#676767;
	margin:6px 0 0;
	font-weight:400;
}
/* banner-bottom1 */
.banner-bottom1 {
	padding:20px 0;
	border-bottom:1px solid #292929;
	border-top:1px solid #292929;
	margin:40px 0 0;
}
.banner-bottom1 .icon-banner {
	width:70px;
	height:70px;
	float:left;
	background:#bda87f;
	color:#fff;
	font-size:34px;
	border-radius:100%;
	text-align:center;
}
.banner-bottom1 .icon-banner:before {
    font-family: FontAwesome;
    content: "\f041";
    line-height: 70px;
}
.banner-bottom1 .col2 .icon-banner:before {
    content: "\f095";
}
.banner-bottom1 .col3 .icon-banner:before {
    content: "\f0e0";
}
.banner-bottom1 .banner-text {
	margin-left:80px;
	text-align:left;
	padding-top:25px;
}
.banner-bottom1 .col1 .banner-text {
	padding-top:15px;
}
.banner-bottom1 .banner-text p {
	font-size:15px;
	color:#999999;
	margin:0;
}
/* banner-left */
.banner-left { margin:60px 0 0; }
.banner-left img:hover {
	opacity:0.8;
}
/* cms block */
.social-footer .title-social h2 {
	font-size:16px;
	color:#333333;
	text-transform:uppercase;
	font-weight:700;
	margin:0;
}
.social-footer {
	padding:0;
	display:inline-block;
	width:100%;
	text-align:center;
}
.social-footer ul {
	margin:0;
	padding:0;
}
.social-footer li {
	display:inline-block;
	list-style:none;
	margin-right:20px;
}
.social-footer li:last-child {
	margin:0;
}
.social-footer li a {
	position: relative;
    display: inline-block;
	font-weight:400;
    font-size: 0;
    padding: 0;
}
.social-footer li a:hover:before {
	color:#bda87f;
}
.social-footer li a:before {
	padding: 0 !important;
	margin:0;
    font-size: 18px;
	color:#757575;
    display: inline-block;
    font-family: 'Ionicons';
    font-weight: normal;
    vertical-align: middle;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.social-footer li.facebook a:before {
	content: '\f231';
}
.social-footer li.twitter a:before {
	content: '\f243';	
}
.social-footer li.rss a:before {
	content: '\f3ea';
}
.social-footer li.youtube a:before {
	content: '\f24c';
}
.social-footer li.google a:before {
	content: '\f235';
}
.social-footer li.pinterest a:before {
	content: '\f2b1';
}
.social-footer li.behance a:before {
	content: '\f23d';
}
/* -------------- */
.static-policy .text-content p{
	color: #929292;
	line-height: 24px;
	letter-spacing: .025em;
	margin: 0;
	padding: 0;
}
.static-policy .text-content h2{
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	margin: 25px 0;
}
.static-policy .col{
	
}
.static-policy{
	text-align: center;	
	float: left;
	width: 100%;
	margin-bottom: 100px;
	padding-bottom: 95px;
	border-bottom: 1px solid #ebebeb;
}
.banner-2 .row > div:hover .col-img img{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	transform-origin: right top;
}
.banner-2 .col-img{
	overflow: hidden;	
	text-align: center;
	margin-bottom: 100px;
}
.banner-2 .text-content a:hover{
	color: #888;
	border-color: #888;
}
.banner-2 .text-content a{
	display: inline-block;
	padding-bottom: 5px;
	border-bottom: 2px solid #292929;
	color: #292929;
	font-weight: 600;
	line-height: 1;
	text-transform: uppercase;
	margin-top: 80px;
}
.banner-2 .text-content h2{
	font-size: 24px;
	line-height: 1;
	margin: 0;
	text-transform: capitalize;
	font-weight: 400;
}
.banner-2 .text-content h3{
	font-weight: 600;
	font-size: 14px;
	line-height: 1;
	margin: 0 0 15px 0;
}
.banner-2 .text-content{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50px;
}
.banner-2 .col-img a{
	position: relative;	
	display: inline-block;
	overflow: hidden
}
.banner-1 .row > div:nth-child(3){
	padding-left: 10px;
}
.banner-1 .row > div:nth-child(2){
	padding: 0 10px;
}
.banner-1 .row > div:nth-child(1){
	padding-right: 10px;
}
.banner-1 .row > div{
	margin-bottom: 90px;
}
.banner-1 .text-content{
	position: absolute;
	bottom: 20px;
	left: 20px;
}
.banner-1 .item1,
.banner-1 .item4{
	margin-bottom: 20px;
}
.banner-1 .col-img{
	text-align: center;
}
.banner-1 .items{
	position: relative;
}
.banner-1 .text-content a{
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	font-size: 14px;
	color: #292929;
	text-transform: capitalize;
	font-weight: 500;
	padding: 20px 30px;
	display: inline-block;
}
.static-about h4 span{
	color: #707070;
	font-weight: 400;
}
.static-about h4{
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0;
}
.static-about p{
	letter-spacing: .025em;
	line-height: 30px;
	margin: 0 0 50px 0
}
.static-about h1{
	font-size: 30px;
	text-transform: capitalize;
	margin: 0 0 40px 0;
	font-weight: 500;
}
.static-about img{
	margin-bottom: 35px
}
.static-about h3{
	font-size: 12px;
	color: #929292;
	text-transform: capitalize;
	margin: 0 0 5px 0;
}
.static-about{
	text-align: center;
	padding: 100px 16%;
}
/* owl carousel */
.owl-carousel .owl-nav > .owl-next,
.owl-carousel .owl-nav > .owl-prev{
	position: absolute;
	top: 50%;
	margin: -30px 0 0 0;
	width: 49px;
	height: 49px;
	line-height:45px;
	background: #fff;
	text-align: center;
	opacity: 1;
	color: #252531;
	padding: 0;
	border:4px solid #ebebeb;
	border-radius:100%;
	opacity:0;
}
.owl-style2 .owl-carousel .owl-nav > .owl-next,
.owl-style2 .owl-carousel .owl-nav > .owl-prev {
	margin: -13px 0 0;
	top:50%;
	width:auto;
	border:0;
	background:none !important;
	line-height: inherit;
    height: auto
}
.owl-style2 .owl-nav > .owl-prev{
	left: -15px;
	right:inherit;
}
.owl-style2 .owl-nav > div.owl-next{
	right: -15px;
}
.owl-carousel:hover .owl-nav > .owl-next,
.owl-carousel:hover .owl-nav > .owl-prev{
	opacity: 1;
}
.owl-nav > .owl-prev{
	left: -55px;
}
.owl-nav > div.owl-next{
	right: -55px;
}
.owl-theme .owl-nav > .owl-next:hover,
.owl-theme .owl-nav > .owl-prev:hover{
	color: #fff;
	background:#bda87f;
	border-color:#bda87f;
}
.owl-style2 .owl-nav > div i{
	font-size:28px;
}
.owl-nav > div i{
	font-size:20px;
}
.owl-carousel:hover .owl-nav > div{
	opacity: 1;
}
/* home-moduls */
.home-moduls .module-description {
	font-size:14px;
	color:#8c8c8c;
	font-style:italic;
	text-transform:capitalize;
	font-weight:400;
	text-align:left;
	font-family: 'Roboto', sans-serif;
	margin:0;
}
.home-moduls .module-title:before {
	display:none;
}
.home-moduls .module-title {
	text-align:left;
}
.home-moduls .module-title h2 {
	font-size:14px;
	padding:0;
}
.home-moduls .list-style .image {
	width:110px;
	float:left;
}
.home-moduls .list-style .caption {
	margin-left:115px;
	text-align:left;
	position:relative;
}
.home-moduls .list-style .ratings .rating-box div[class^="rating"] {
	background-position: left center;
}
.home-moduls .list-style {
	display:inline-block;
	width:100%;
	margin-bottom:20px;
}
.home-moduls .list-style:last-child {
	margin:0;
}
.home-moduls .list-style .item-inner .actions {
	left:0;
	bottom:-25px;
	text-align:left;
	opacity:0;
	background:#fff;
}
.home-moduls .list-style .item-inner:hover .actions {
	opacity:1;
}
.home-moduls .list-style .item-inner .actions .add-to-links {
	padding:5px 0;
}
.home-moduls .list-style .item-inner .add-to-links button {
	width:35px;
	height:35px;
	line-height:35px;
}
.home-moduls .list-style .item-inner .add-to-links button:after {
	height:15px;
	top:10px;
}
.home-moduls .owl-carousel .owl-nav > .owl-next,.home-moduls .owl-carousel .owl-nav > .owl-prev {
	width:30px;
	height:30px;
	line-height:28px;
	border: 2px solid #d7d7d7;
	margin:-65px 0 0 0;
}
.home-moduls .owl-nav > div i {
	font-size:15px;
}
.home-moduls .owl-nav > div.owl-next {
	right: -20px;
}
.home-moduls .owl-nav > .owl-prev {
	left: -20px;
}
.home-moduls .owl-carousel .owl-nav > .owl-next:hover,.home-moduls .owl-carousel .owl-nav > .owl-prev:hover {
	border-color:#bda87f;
}
/* tabprocust */
.tt_tabsproduct_module{
	margin-top: 55px;
}
.tt_tabsproduct_module .module-title {
	display:none;
}
.tt_tabsproduct_module .owl-carousel .owl-stage-outer {
	padding-bottom:30px;
}
/* testimonial */
.testimonial-container {
	background:url('../image/bg-testimal.jpg') no-repeat 0 0;
	background-size:cover;
	min-height:550px;
	padding:60px 0;
	margin-top:25px;
}
.testimonial-container .testimonial-col {
	width:50%;
	float:right;
	text-align:center;
	padding-top: 50px;
}
.testimonial-container .module-title {
	background:url('../image/bg-subtitle.png') no-repeat 50% 100%;
}
.testimonial-container .module-title h2 {
	padding:0;
}
.testimonial-container .module-title h2:before {
	width:35%;
}
.testimonial-container .testimonial-box a {
	font-size:14px;
	color:#b2b2b2;
	font-weight:300;
	line-height:25px;
	font-style:italic;
	width:100%;
	display:inline-block;
}
.testimonial-container .box-testimonial {
	display:inline-block;
	margin:30px 0 0;
}
.testimonial-container .box-testimonial .testimonial-images {
	width:80px;
	float:left;
}
.testimonial-container .box-testimonial .testimonial-images img {
	border:2px solid #bda87f;
	border-radius:100%;
}
.testimonial-container .box-testimonial .testimonial-author {
	margin-left:95px;
	margin-top: 35px;
	font-size:13px;
	color:#bda87f;
	font-weight:500;
	text-transform:uppercase;
}
.testimonial-container .owl-theme .owl-nav.disabled+.owl-dots {
	margin-top:30px;
}
.testimonial-container .owl-theme .owl-dots .owl-dot span {
	background:#353b43;
	-webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.testimonial-container .owl-theme .owl-dots .owl-dot.active span,
.testimonial-container .owl-theme .owl-dots .owl-dot:hover span {
	width:10px;
	height:10px;
	background:#ac8d6a;
}
.product-octestimonial .testimonial-container {
	background:none;
	padding:0;
}
.product-octestimonial .row-testimonials {
	display:inline-block;
	width:100%;
	margin-bottom:20px;
}
.product-octestimonial .testimonial-images {
	width:100px;
	float:left;
}
.product-octestimonial .box-testimonial {
	margin:0 0 0 120px;
	display:table;
}
.product-octestimonial .box-testimonial .testimonial-name {
	margin:20px 0 0;
}
/* feature-products */
.feature-products .module-title {
	text-align:left;
	margin:0 0 30px;
}
.feature-products .module-title h2 {
	padding:0;
}
.feature-products .product-layout {
	display:inline-block;
	width:100%;
	margin-bottom:10px;
}
.feature-products .product-layout:last-child {
	margin:0;
}
.feature-products .image {
	width:100px;
	float:left;
}
.feature-products .caption {
	margin-left:110px;
}
.feature-products .button-group {
	display:none;
}
.feature-products .item-inner {
	padding:10px !important;
	margin:0 !important;
	display:inline-block;
	width:100%;
}
.feature-products .item-inner .ratings {
	padding:10px 0;
}
.feature-products .ratings .rating-box div[class^="rating"] {
	background-position: left center;
}
.feature-products .product-name  {
	margin:0 0 15px;
	font-size:13px;
}
.feature-products .price {
	font-size:16px;
}
.feature-products .price-old {
	font-size:12px;
}
/* banner-ourbrands */
.brand-container {
	margin:50px 0 0;
	position:relative;
}
.brand-container .swiper-container {
	padding:5px 0;
}
.brand-container .item { 
	text-align:center;
	border:1px solid #e5e5e5;
}
.brand-container .item img {
	display:inline-block;
}
.brand-container .swiper-slide {
	padding:0 15px;
}
/* footer-static */
.common-home .footer-static {
	margin:0;
}
.footer-static {
	margin-top:40px;
	padding:70px 0;
	border-bottom:1px solid #ebebeb;
	border-top:1px solid #ebebeb;
}
.footer-static .footer-title {
	margin-bottom:25px;
}
.footer-static .col1 .footer-title {
	display:none;
}
.footer-static .col4 .footer-title {
	margin-bottom:30px;
}
.footer-static .footer-title h2 {
	font-size: 14px;
	color: #252531;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
	margin: 0;
}
.footer-static .logo-footer {
	margin-bottom:35px;
}
.footer-static .footer-content p {
	font-size:14px;
	color:#676767;
	font-weight:400;
	margin:10px 0 0;
}
.footer-static .footer-content li {
	line-height:32px;
}
.footer-static .footer-content a {
	font-size:14px;
	color:#676767;
	font-weight:400;
	text-transform:capitalize;
}
.footer-static .footer-content a:hover {
	color:#bda87f;
	padding-left:6px;
}
.footer-link ul {
	padding:0;
}
.footer-link ul li {
	line-height:20px;
	list-style:none;
	display:inline-block;
	margin-right:5px;
	margin-bottom:7px;
}
.footer-link ul li a {
	color:#999999;
	padding:5px;
	background:#292929;
	display:inline-block;
}
.footer-link ul li a:hover {
	background:#bda87f;
	color:#fff;
}
/* footer */
#back-top:hover{
	background:#bda87f;
}
#back-top {
	position: fixed;
	bottom: 50px;
	right: 20px;
	width:40px;
	height:40px;
	line-height:40px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
	font-weight: 700;
	text-transform: uppercase;
	background: #14191e;
	z-index: 999;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#back-top span{
	margin-right: 15px;
}
#back-top i{
	font-size: 12px;
}
footer {
	padding: 0;
	background:#f6f6f6;
	margin: 0 -30px;
}
/* ------------ */
/* footer-paypal */
.footer-paypal {
	text-align:right;
}
.footer-paypal ul {
	padding:0;
	margin:0;
}
.footer-paypal ul li {
	list-style:none;
	display:inline-block;
	margin-left:13px;
}
.footer-paypal ul li:first-child {
	margin:0;
}
.footer-bottom {
	padding:28px 0 20px;
	background:#fff;
}
.copyright-text a { 
	color: #bda87f;
}
.copyright-text a:hover {
	color:#757575;
}
.copyright-text{
	margin: 5px 0 0;
	color: #757575;
	font-size:14px;
	width:100%;
	font-weight:400;
}
/* breadcrumbs */
.breadcrumbs .breadcrumb{
	margin: 0
}
.breadcrumb {
	padding:0;
	margin: 20px 0;
	background: none;
	text-align:left;
}
.breadcrumb  a:hover,
.breadcrumb li:last-child a{
	color: #252531;
}
.breadcrumb > li + li::before,
.breadcrumb a{
	color: #adadad;
	text-transform: capitalize;
}
.breadcrumb > li + li::before {
	color: #adadad;
	text-transform: capitalize;
	font-family:'FontAwesome';
	content:"\f105";
	padding:0 10px;
}
.common-home .breadcrumbs{
	display: none;
}
.breadcrumbs h1,
.breadcrumbs h2{
	font-size: 36px;
	font-weight: 500;
	color: #333333;
	text-transform: capitalize;
	margin: 0 0 20px 0;
}
.breadcrumbs .category-name {
	display:none;
}
.breadcrumbs{
	padding: 40px 0;
	text-align: left;
	margin-bottom: 20px;
}
/* category */
.category-name {
	font-size: 20px;
    color: #252531;
    font-weight: 400;
    text-transform: capitalize;
	margin-bottom: 20px;
	font-family: 'Poppins', sans-serif;
}
.catgory-thumb {
	margin-bottom:40px;
}
.refine-category {
	font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
	font-family: 'Prata', serif;
	margin-bottom:15px;
}
.category-info .img-thumbnail{
	border: none;
	border-radius: 0;
	padding: 0;
}
.category-compare {
	margin:15px 0 0;
}
.category-compare a {
	text-transform: capitalize;
    color: #b2b2b2;
    font-size: 14px;
	font-weight:400;
}
.category-compare a:hover {
	color:#bda87f;
}
.product-list .item-inner {
	margin-bottom:40px;
	border:0;
	border-bottom:1px solid #ebebeb;
	display:inline-block;
	width:100%;
	margin-left:15px;
	padding:0;
	padding-bottom:40px;
	box-shadow:none;
}
.product-list:last-child .item-inner {
	padding:0;
	border:0;
}
.product-list .image {
	padding:0;
}
.product-list .label-product {
	top:0;
}
.product-list .caption {
	padding-left:30px;
}
.product-list .ratings {
	padding:0 0 15px;
}
.product-list .ratings .rating-box div[class^="rating"] {
	background-position: left center;
}
.custom-products .product-list:last-child .product-thumb{
	border: none;
}
.custom-products .product-list .product-thumb:hover{
	box-shadow: none;
}
.custom-products .product-list .product-thumb{
	float: left;
	width: 100%;
	margin: 0 -15px;
}
.product-list .product-name a {
	font-size:16px;
	font-weight:400;
}
.product-list .price {
	margin:15px 0 0;
}
.custom-products {
	margin: 0 -15px;
}
.custom-products .product-layout {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.custom-products .price-box p {
	display:inline-block;
}
.custom-products .price-box .price-tax {
	width:100%;
	display:none;
}
.custom-products .price-box .special-price span {
	font-weight:500;
} 
.custom-products .price-box .old-price span {
	color: #c2c2c2;
    font-size: 13px;
    color: #c2c2c2;
    text-decoration: line-through;
    margin-right: 8px;
    font-weight: 400;
}
.custom-products .four-item .item-inner .add-to-links button {
	width:40px;
	height:40px;
	line-height:40px;
}
.custom-products .four-item .item-inner .add-to-links button:before {
	font-size:16px;
}
.custom-products .five-item .item-inner .add-to-links button {
	width:35px;
	height:35px;
	line-height:35px;
}
.custom-products .five-item .item-inner .add-to-links button:before {
	font-size:15px;
}
.layer-category ul {
	padding:0;
}
.layer-category ul li {
	list-style:none;
	display:inline-block;
	margin-right:6px;
}
.layer-category ul li:last-child {
	margin:0;
}
.layer-category ul li a {
	text-transform: capitalize;
    color: #b2b2b2;
    font-size: 14px;
	font-weight:300;
}
.layer-category ul li a:hover {
	color:#bda87f;
}
@media (min-width: 992px){	
	.custom-products .two-items:nth-child(2n+1),
	.custom-products .three-items:nth-child(3n+1),
	.custom-products .four-items:nth-child(4n+1),
	.custom-products .five-items:nth-child(5n+1){
		clear: both;
	}
}
.toolbar{
	float: left;
	width: 100%;
	margin:40px 0;
	padding:12px 15px;
	min-height:52px;
	border:1px solid #e9e9e9;
}
.toolbar3 .btn-group{
	background:none;
	padding-top:18px;
}
.toolbar3{
	padding: 0 40px 0 0;
	text-align:left;
}
.toolbar2{
	padding: 0;
}
.toolbar .toolbar2,
.toolbar .toolbar1 {
	padding-left: 0;
	float:right;
}
.toolbar .toolbar1 {
	margin-left:25px;
}
.toolbar .toolbar2 label,
.toolbar .toolbar1 label {
	float:left;
	line-height:28px;
	margin:0 8px 0 0;
}
.toolbar .toolbar2 #input-limit,
.toolbar .toolbar1 #input-sort {
	float:left;
	height:28px;
	border:1px solid #ebebeb;
	border-radius:3px;
	width:auto;
	padding:0 10px;
}
#input-sort,
#input-limit {
	background:none;
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	font-size: 14px;
	color: #363f4d;
	font-weight:400;
	text-align: center;
	height:52px;
	border:0;
}
#list-view:hover,
#list-view.selected,
#grid-view:hover,
#grid-view.selected{
	color: #292929 !important;
}
#list-view{
	margin-right: 15px;
}
.toolbar div {
	float:left;
	font-size:14px;
	color:#8d8c8c;
	line-height: 28px;
}
.toolbar .toolbar-amount { float:left; }
.toolbar-bottom .toolbar-amount { float:right; }
.btn-custom-view,
#list-view,
#grid-view {
	border: none;
	border-radius: 0px;
	color: #e2e2e2;
	padding: 0;
	background: none;
	line-height: 16px;
	box-shadow: none !important;
	display:inline-block;
	font-size:0;
	margin-left:15px;
}
.btn-custom-view:first-child,
#list-view {
	margin:0;
}
.btn-grid,
#grid-view {
	height:16px;
}
.btn-grid-3,
#grid-view {
	background:url("../image/grid3.png") no-repeat 0 0 !important;
	width:16px;
}
.btn-grid-3.active,.btn-grid-3:hover,
#grid-view:hover,#grid-view.selected {
	background:url("../image/grid3.png") no-repeat 0 100% !important;
}
.btn-grid-4 {
	background:url("../image/grid4.png") no-repeat 0 0 !important;
	width:22px;
}
.btn-grid-4.active,.btn-grid-4:hover {
	background:url("../image/grid4.png") no-repeat 0 100% !important;
}
.btn-grid-5 {
	background:url("../image/grid5.png") no-repeat 0 0 !important;
	width:28px;
}
.btn-grid-5.active,.btn-grid-5:hover {
	background:url("../image/grid5.png") no-repeat 0 100% !important;
}
.btn-list,#list-view {
	background:url("../image/list.png") no-repeat 0 0 !important;
	width:20px;
	height:16px;
}
.btn-list:hover,.btn-list.active,
#list-view:hover,#list-view.selected {
	background:url("../image/list.png") no-repeat 0 100% !important;
}
.pagination{
	margin: 0;
}
.pagination > li.active > span, .pagination > .active > a, 
.pagination > .active > a:focus, .pagination > .active > a:hover, 
.pagination > .active > span, .pagination > .active > span:focus, 
.pagination > .active > span:hover, .pagination > li > a:focus, 
.pagination > li > a:hover, .pagination > li > span:focus, 
.pagination > li > span:hover {
    background: #bda87f !important;
    color: #fff !important;
}
.pagination > li > a, .pagination > li > span{
	border: none;
	border-radius: 3px !important;
	background: #f1f2f4 !important;
	color: #929292 !important;
	font-size: 14px;
	font-weight:400 !important;
	padding: 0 10px;
	height:28px;
	line-height:28px;
	margin: 0 5px;
	text-align: center;
}
.pagination{
	line-height: 1;
}
.pagination > li{
	display: inline-block;
	vertical-align: middle;
}
/* product detail */
.zoomContainer {
    top: 0px !important;
    left: 15px !important;
    right: 0px;
    bottom: 0px;
    width: 100% !important;
}
.zoomContainer .zoomWindowContainer .zoomWindow {
    margin-left: 15px;
    border-color: #888 !important;
}
.thumbnails {
	margin-bottom:10px;
}
.block-1{
	margin-bottom: 30px;
}
.block-1 .thumbnails-additional .thumbnail{
	margin: 0;
	border:1px solid #edecec !important;
}
.block-1 .thumbnails-additional .thumbnail:hover,
.block-1 .thumbnails-additional .current-additional {
	border:1px solid #bda87f !important;
}
.block-1 .thumbnails-additional .current-additional{
	opacity: 1;
}
.block-1 .thumbnail {
	padding: 0;
	border-radius: 0;
	margin:0;
	background:#fff;
	border: 0 !important;
}
.block-2 .product-name{
	margin: 0;
	font-size: 18px;
	color: #676767;
	text-transform: capitalize;
	line-height: 1;
	font-weight: 500;
}
.block-2 .product-name + p{
	margin: 10px 0 0;
}
.block-2 .product-name + p a{
	text-transform: capitalize;
}
.block-2 .ratings .rating-box {
	width: 65px;
	display: inline-block;
	margin-right:15px;
	height: 11px;
	background-image: url("../image/rating0.png");
}
.block-2 .ratings a {
	padding:0 8px;
}
.block-2 .price{
	margin: 0 0 18px 0;
	font-size:16px !important;
}
.block-2 .price-old {
	font-size:14px;
}
.block-2 .ratings {
	margin: 20px 0 15px;
	float: none;
	width: auto;
}
.block-2 .list-unstyled {
	color: #676767;
	clear: both;
	font-size:14px;
	font-weight:400;
	margin:0 0 20px;
}
.block-2 .list-unstyled li {
	line-height:25px;
	font-style: initial;
	font-size:14px;
}
.block-2 .price-product{
	font-size: 16px !important;
	color: #676767;
	font-weight: 500;
	line-height: 24px;
	margin-bottom: 30px;
}
.block-2 .ex-text{
	color: #bda87f;
	margin-left: 5px;
}
.block-2 .short-des {
	margin: 30px 0 35px;
	color: #676767;
	line-height: 24px;
	font-size:14px;
	font-weight:400;
	border-top:2px solid #f3f3f3;
	border-bottom:2px solid #f3f3f3;
	padding:30px 0;
}
#input-quantity2, #minus2, #plus2,
#input-quantity, #minus, #plus {
    display: block;
    height: 35px;
    border: none;
    box-shadow: none;
    text-align: center;
    width: 25px;
    font-size: 16px;
    border-radius: 0;
	border: 0;
	background: none;
	padding: 0;
	color: #363f4d;
	float: left;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#plus2,#plus {
	text-align:right;
}
#minus2,#minus {
	text-align:left;
	font-size:20px;
}
#minus2:hover, #plus2:hover,
#minus:hover, #plus:hover{
	color: #bda87f;
}
#input-quantity2,
#input-quantity {
    width: 48px;
	height: 35px;
	border: 0;
	background:none;
	font-size: 14px;
	color: #363f4d;
	font-weight:400;
	border-radius:0;
}
label[for='input-quantity']{
	float: left;
	line-height: 1;
	padding: 20px 0;
	margin: 0 30px 0 0;
	color: #363636;
	font-size:14px;
}
#button-cart2 i,
#button-cart i{
	font-size: 24px;
	margin-right: 7px;
}
#button-cart2,
#button-cart {
	margin: 0 30px 10px 0;
	float: left;
	background: #bda87f;
	height: 42px;
	line-height:42px;
	border-radius: 20px;
	width:auto;
	padding: 0 80px;
	color: #ffffff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 500;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#button-cart2:hover,
#button-cart:hover {
	background:#28323c;
	color:#fff;
}
.block-2 .btn-compare span, 
.block-2 .btn-wishlist span{
	display: none;
} 
.block-2 .btn-compare:hover i, 
.block-2 .btn-wishlist:hover i{
	/* color: #fff; */
}
.block-2 .btn-compare i, 
.block-2 .btn-wishlist i{
	font-size: 16px;
	line-height: 35px;
	vertical-align: top;
}
.block-2 .btn-compare, 
.block-2 .btn-wishlist {
	height:42px;
	line-height:42px;
    border: none;
	padding: 0;
	background: none;
	color: #b3b3b3;
	font-size:14px;
	font-weight:400;
	text-transform:inherit;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.block-2 .btn-wishlist {
	margin-right:16px;
	padding-right:22px;
	position:relative;
}
.block-2 .btn-wishlist:after {
	content:'';
	width:1px;
	height:17px;
	background:#ebebeb;
	position:absolute;
	top:12px;
	right:0;
}
.block-2 .btn-compare:hover, 
.block-2 .btn-wishlist:hover {
    color: #bda87f;
}
#product2,
#product{
	clear: both;
	display:inline-block;
	width:100%;
}
#product2 .has-option,
#product .has-option {
	max-height: 300px;
	overflow: auto;
	border: 2px solid #f3f3f3;
	padding: 20px 20px 10px;
	margin: 10px 0 30px;
	background:#fff;
}
#product2 .has-option h2,
#product .has-option h2 {
	color: #292929;
}
#product2 .has-option h3,
#product .has-option h3 {
	font-weight:700;
	font-size:16px;
	color: #292929;
}
#product + div {
	margin: 10px 0 0;
	text-align:left;
}
.quantity-actions {
	display:inline-block;
	width:100%;
}
.quantity-box {
	float: left;
	width:100%;
	margin: 0 15px 30px 0;
}
.quantity-box .quantity-content {
	width:100px;
	float:left;
	border:1px solid #e1e1e1;
	border-radius:20px;
}
.block-3{
	margin: 70px 0 0;
}
.block-3-content {
	padding:40px;
	background:#fff;
	border:1px solid #ebebeb;
	border-radius:3px;
	max-height: 500px;
    overflow: auto;
}
#tab-review #review{
	max-height: 300px;
	overflow: auto;	
}
.block-3 .tab-content .tab-pane {
	padding:25px 0 ;
	border:0;
	font-size:14px;
	color:#676767;
	line-height:25px;
}
.block-3 .tab-content .tab-pane h2 {
	color:#fff;
	font-weight:500;
}
.block-3 .nav-tabs {
	font-weight: 500;
	font-size: 18px;
	text-transform: capitalize;
	border: none;
	text-align:left;
	padding-bottom:25px;
	border-bottom:1px solid #ebebeb;
}
.block-3 .nav-tabs li:hover a,
.block-3 .nav-tabs li.active a{
	color: #363f4d;
	background: none;
	border:0;
}
.block-3 .nav-tabs li a {
	color: #bbbbbb;
	font-size:14px;
	font-weight:700;
	text-transform:uppercase;
	border: 0;
	border-radius: 0;
	margin: 0;
	padding: 0 40px 0 0;
}
.block-3 .nav-tabs li {
	display:inline-block;
	float:none;
	margin: 0;
}
.bootstrap-datetimepicker-widget a[data-action]{
	padding: 0 !important;
}
.bootstrap-datetimepicker-widget td span:hover{
	background: none !important;
}
.bootstrap-datetimepicker-widget td span{
	height: 40px !important;
	line-height: 40px !important;
	margin: 0px !important;
}
.alert.alert-success{
	text-align: center;
	font-size: 14px;
	margin: 0;
	position:relative;
	z-index:99;
}
.account-login .well{
	background: none;
	box-shadow: none;
}
.information-contact form .required{
	margin-bottom: 20px;
}
.bootstrap-datetimepicker-widget a[data-action] {
    border: none;
	height: auto;
}
.custom-products .per-sale,
.custom-products .price-tax,
.custom-products .product-grid .product-des{
	display: none;
}
/* modules */
.module-title {
	position:relative;
}
.module-title h2 {
	font-size: 20px;
	color:#252531;
	margin: 0;
	font-weight: 700;
	text-transform: uppercase;
	padding:0 40px;
	position:relative;
	display:inline-block;
	background:#fff;
	font-family: 'Poppins', sans-serif;
}
.module-description{
	margin:0 0 5px;
	font-size:13px;
	color:#838383;
	font-weight:500;
	text-transform:uppercase;
	font-family: 'Poppins', sans-serif;
	text-align:center;
}
.module-title{
	text-align: center;
	margin: 0 0 50px;
}
.tt_product_module{
	margin-top: 90px;
}
.related-products {
	clear: both;
	margin:70px 0 0;
}
.related-products .owl-carousel .owl-stage-outer {
	padding: 6px;
    margin: 0 -6px;
}
.related-products .product-grid {
	margin:0;
}
.related-products .price-old {
	margin:0 0 0 8px;
}
/* newproducts */
.tt_product_module .owl-carousel .owl-stage-outer {
	padding:6px;
	margin:0 -6px;
}
/* feature-products */
.products1 .owl-carousel .owl-nav > .owl-next,.products1 .owl-carousel .owl-nav > .owl-prev {
	margin:-68px 0 0 0;
}
/* feature-category */
.featured-categories-container { margin:30px 0 0; }
.featured-categories-container .module-title {
	display:none;
}
.featured-categories-container .owl-item {
	padding:0 15px;
}
.featured-categories-container .fcategory-content {
	background:#f0f0f0;
}
.featured-categories-container .fcategory-content:hover {
	background:#bda87f;
}
.featured-categories-container .image-fcategory {
	position:relative;
	min-height:100px;
}
.fcategory-content .homethumb-image {
	position:absolute;
	top:0;
	left:0;
	opacity:1;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.fcategory-content .thumbnail-image {
	position:absolute;
	top:0;
	left:0;
	opacity:0;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.fcategory-content:hover .homethumb-image {
	opacity:0;
}
.fcategory-content:hover .thumbnail-image {
	opacity:1;
}
.fcategory-content .content-thumb {
	padding:0 20px 20px;
	text-align:center;
}
.fcategory-content .content-thumb a {
	font-size:15px;
	color:#333333;
	font-weight:700;
	text-transform:capitalize;
}
.fcategory-content:hover .content-thumb a {
	color:#fff;
}
.fcategory-content:hover .content-thumb a:hover {
	color:#333;
}
/* instagram */
#instagram_block_home .content_block {
	display:inline-block !important;
}
#instagram_block_home .content_block .row_items {
	margin:0 -5px;
}
#instagram_block_home .content_block .fancybox {
	padding:0 5px;
	margin-bottom:10px;
}
#instagram_block_home .content_block .fancybox img {
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
#instagram_block_home .content_block .fancybox img:hover {
	opacity:0.7;
}
/* fix-nav */
.fix-nav {
	background: #fff;
	padding:0 30px;
    left: 0;
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9991;
    opacity: 0.8;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
    -webkit-animation: fadeInDown 300ms linear;
    -moz-animation: fadeInDown 300ms linear;
    -ms-animation: fadeInDown 300ms linear;
    animation: fadeInDown 300ms linear;
    box-shadow: 0 8px 6px -6px rgba(0,0,0,0.1);
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.fix-nav:hover { opacity:1; }
/* color */
.ul-swatches-colors .swatches-options a {
    float: left;
    display: inline-block;
}
.ul-swatches-colors {
    list-style: none;
    text-align: left;
    overflow: hidden;
    padding: 0;
}
.ul-swatches-colors li {
    float: left;
    border: 1px solid #fff;
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 2px;
    line-height: 25px;
}
/* rating */
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
	height: 12px;
}
.ratings .rating-box .rating0{
	background-image: url("../image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("../image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("../image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("../image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("../image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("../image/rating5.png")
}
/* responsive */
@media (max-width: 1921px) and ( min-width:1367px){
	.wrapper {
		padding:0 60px;
	}
	footer {
		margin:0 -60px;
	}
}
@media (max-width: 1199px){
	.wrapper { padding:0 10px; }
	footer { margin:0; }
	header .container { padding:0 15px; }
	.fix-nav { position:initial !important; }
	header { padding:30px 0 0; }
	.top-email p { font-size:12px; }
	.search-containers { margin-left:30px; }
	#search { width:300px; }
	.main-menu{
		padding-left: 30px;
	}
	body[class^="product-product"] .breadcrumbs, body[class^="product-category"] .breadcrumbs{
		padding: 50px 0;
	}
	.breadcrumbs h1, .breadcrumbs h2{
		font-size: 30px;
		margin: 0 0 15px 0;
	}
	.zoomContainer,
	.b-modal,
	.newletter-popup{
		display: none !important;
	}
	.owl-carousel .owl-nav > .owl-next, .owl-carousel .owl-nav > .owl-prev { display:none !important; }
	#product-product, .layer-category{
		margin-top: 0;
	}
	.banner-static { padding:0 15px; }
	.banner-center .col1, .banner-center .col4 { margin-bottom:24px; }
	.banner-bottom h2 { font-size:12px; }
	.banner-bottom p { font-size:10px; }
	.footer-static .footer-title h2 { font-size:12px; }
	.testimonial-container .testimonial-col { width:70%; float: none; margin: 0 auto; }
	.tt_product_module { margin-top: 60px; }
	.products2 .item-inner .image { width:75px; }
	.products2 .item-inner .caption { margin-left:85px; padding:0 !important; }
	.item-inner .add-to-links .compare button:after { display:none; }
	.articles-name { font-size:15px; margin:0 0 5px; }
	.articles-intro { font-size:12px; margin:10px 0 0; }
	.product-list .caption { padding-top:0; }
	.product-list .product-des { margin:10px 0 0; font-size:14px; }
	.product-list .item-inner .actions { margin:20px 0 0; }
	.block-2 .btn-compare, .block-2 .btn-wishlist { min-width: 155px; }
	.block-2 .wishlist-compare { display:inline-block; width:100%; }
	.product-customize .countdown-row .countdown-section { min-width:40px; }
	.product-customize .countdown-amount { font-size:12px; }
	.product-customize .countdown-period { font-size: 11px; line-height: 8px; }
	.toolbar3 { padding:0 20px 0 0; }
	.btn-custom-view { margin-left:5px; }
	.toolbar .toolbar2 label, .toolbar .toolbar1 label { display:none; }
	.toolbar .modes .btn-grid-4,.toolbar .modes .btn-grid-5 { display:none; }
}
@media (max-width: 991px){
	.wrapper { padding:0 15px; }
	.container { width:100%; }
	header .box-top { width:130px; margin:0 auto; display:table; }
	.search-content { right:-175px; }
	.header-link .box-content { right:-80px; }
	#cart .dropdown-menu { right:-100px; }
	#cart .dropdown-menu:before { right:128px; }
	.logo-container { text-align:center; margin:0 0 30px; }
	.header-top { text-align:center; }
	.top-welcome { text-align:center; }
	#form-language,#form-currency { display:inline-block; }
	.account-content { text-align:center; display:inline-block; }
	.search-containers { margin-left:50px; }
	.banner-center { margin:40px 0 0; }
	.banner-center .banner-text h2 { font-size:10px; }
	.banner-center .banner-text p { font-size:10px; margin:0; }
	.banner-center .col1, .banner-center .col4 { margin-bottom:16px; }
	.banner-left { margin-bottom:40px; }
	.search-position { z-index:9999; }
	.btn-actions { display:inline-block; width:100%; }
	.products .product-grid { margin-bottom:0; }
	.products2 .item-inner .image { width:100px; }
	.products2 .item-inner .caption { margin-left:115px; }
	#product-product .wishlist-compare {
		width:100%;
		display:inline-block;
		margin-bottom:20px;
	}
	#dialog-normal .newletter-title { width:100%; }
	#dialog-normal .newleter-content { width:100%; margin-top:20px; }
	#frm_subscribe-normal { width:100%; }
	#blog_home .articles-inner { padding:0; border:0; }
	#blog_home .articles-image,#blog_home .articles-image img { width:100%; }
	#blog_home .aritcles-content { margin:20px 0 0; display:inline-block; width:100%; }
	.brand-container { margin:30px 0 0; }
	.main-menu{
		width: 100% !important;
		padding: 0;
	}
	.copyright-text{
		text-align: left;
	}
	.footer-static { padding:60px 0 30px; }
	.footer-paypal { text-align:left; margin:20px 0 0; }
	.footer-static .col {
		margin-bottom:20px;
	}
	.footer-static .footer-title h2 { font-size:14px; }
	.footer-static .col4 { padding:0; }
	.footer-static .col3 { border:0; }
	.footer-static .col.col1 .footer-title { display:block; }
	.footer-static .col .footer-title:after {
		content: "\f107";
		display: block;
		font-weight: 700;
		font-family: FontAwesome;
		font-size: 20px;
		position: absolute;
		right: 15px;
		top: -4px;
		color: #252531;
	}
	.footer-static .footer-title { cursor:pointer; }
	.footer-static .footer-content {
		display:none;
	}
	.social-footer { text-align:left; margin:10px 0; }
}
@media (max-width: 768px){
	.owl-nav > div.owl-prev{
		left: 0;
	}
	.owl-nav > div.owl-next{
		right: 0;
	}
	.action-links button{
		width: 60px;
	}
}
@media (max-width: 767px){
	input[name^="quantity["]{
		min-width: 40px;
		padding: 0;
		text-align: center;
	}
	.logo-container { margin:0 0 20px; }
	.top-email { width:100%; text-align:center; }
	.search-containers { width:100%; text-align:center; margin:20px 0 0; }
	.block-3 .nav-tabs{
		width: 100%;
	}
	.block-3 .nav-tabs li{
		display: inline-block;
	}
	.block-3 .nav-tabs li a{
		padding: 0 0 15px 0;
		margin-right: 20px;
	}
	.block-3-content { padding:40px 20px; }
	.owl-nav{
		display: none;
	}
	#dialog-normal .newleter-content{
		padding: 0;
	}
	.banner-static img,.banner-center img,.banner-center1 img { width:100%; }
	.banner-static .col2,.banner-center1 .col2 {
		margin:20px 0;
	}
	.banner-center .col3 { margin:20px 0; }
	.banner-bottom .col { display:inline-block; width:100%; }
	.banner-bottom .col1,.banner-bottom .col2,.banner-bottom .col3 { margin-bottom:20px; }
	.banner-bottom h2 { font-size:14px; }
	.banner-bottom p { font-size:12px; }
	.product-list .caption { padding:0 15px; margin-top:30px; }
	.footer-static .footer-content .social-footer li { margin-bottom:10px; }
}
@media (max-width: 680px){
	.module-title h2 { font-size:25px; }
	.products2 .item-inner .image { width:100%; }
	.products2 .item-inner .caption { margin:20px 0 0; display:inline-block; width:100%; text-align:center; }
	.home-moduls .list-style .ratings .rating-box div[class^="rating"] { background-position: center center; }
	.home-moduls .list-style .item-inner .actions { text-align:center; }
}
@media (max-width: 640px){	
	.container-fix > .container{
		clear: both;
	}
	.toolbar { padding:20px; float:none; display:inline-block; }
	.toolbar .toolbar3,.toolbar .toolbar2,.toolbar .toolbar1 {
		display:inline-block;
		width:100%;
		padding:0;
		float:left;
		text-align:left;
		margin:0 0 10px;
	}
	.toolbar .toolbar-amount { margin-bottom:10px; }
	.toolbar .toolbar3 { margin-bottom:5px; }
	#input-sort, #input-limit { padding:0; display:inline-block; width:auto; }
}
@media (max-width: 580px){
	.language { margin:0; padding:0; }
	.currency { padding:0; margin:0 0 0 10px; }
	.currency:before,#top-links:after,#top-links:before { display:none; }
	#top-links { padding:0; margin:0; }
	.quantity-box { float:none; display:table; clear: both; }
	.quantity-actions { margin-bottom:20px; }
	.block-3 .nav-tabs li a { font-size:15px; margin-right: 13px; }
	.custom-products .product-list .product-thumb{
		margin: 0;
	}
	.product-list .product-inner{
		margin-top: 20px;
	}
	.product-list .product-inner,
	.product-list .image{
		width: 100%;
	}
}
@media (max-width: 480px){
	#cart .dropdown-menu { right:-115px; }
	#top-links { float:none; display:inline-block; width:100%; } 
	.product-list .item-inner { margin-left:0; }
	.module-title h2 { font-size:20px; }
	.footer-paypal ul li { margin-bottom:10px; }
	#subscribe .btn { padding:0 20px; font-size:14px; }
	#subscribe_email { font-size:12px; padding:0 100px 0 10px; }
	.banner-static { margin:30px 0 0; }
	.tt_product_module { margin-top:40px; }
}
@media (max-width: 380px){
	.language label,.currency label,.language:before { display:none; }
	#cart .dropdown-menu { min-width:inherit; right:-90px; width:300px; }
	#cart .dropdown-menu:before { right:145px; }
	#search { width:250px; }
	.search-content { right:-165px; }
	.quantity-actions { margin:0; }
	.banner-static .col2,.banner-static .col3 { padding:20px 0; }
	.banner-static img { width:100%; }
	.block-2 .btn-compare, .block-2 .btn-wishlist { width:100%; padding:0; margin:0; text-align:left; }
	.block-2 .btn-wishlist:after { display:none; }
	#button-cart2, #button-cart { width:70%; }
	.block-3 .nav-tabs li { width:100%; }
	.module-title h2 { font-size:15px; padding:0 20px; }
}