<div id="cart" class="btn-group btn-block">
  <button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn dropdown-toggle dropdown-cart"><i class="icon-basket-loaded icons"></i> <span id="cart-total">{{ text_items }}</span></button>
  <ul class="dropdown-menu pull-right">
    {% if products or vouchers %}
    <li class="has-scroll">
      <table class="table">
        {% for product in products %}
        <tr>
          <td class="text-center cart-image">{% if product.thumb %} <a href="{{ product.href }}"><img class="cart-image" src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" /></a> {% endif %}</td>
          <td class="text-left info-item"><a href="{{ product.href }}">{{ product.name }}</a> {% if product.option %}
            {% for option in product.option %} <br />
            - <small>{{ option.name }} {{ option.value }}</small> {% endfor %}
            {% endif %}
            {% if product.recurring %} <br />
            - <small>{{ text_recurring }} {{ product.recurring }}</small> {% endif %}
			<p class="cart-quantity">{{ text_qty }}{{ product.quantity }}</p>
			<p class="cart-price">{{ product.total }}</p>
		</td>          
          <td class="text-center cart-close"><button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="ion-close-round"></i></button></td>
        </tr>
        {% endfor %}
        {% for voucher in vouchers %}
        <tr>
          <td class="text-center"></td>
          <td class="text-left">{{ voucher.description }}</td>
          <td class="text-right">x&nbsp;1</td>
          <td class="text-right">{{ voucher.amount }}</td>
          <td class="text-center text-danger"><button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs"><i class="ion-close-round"></i></button></td>
        </tr>
        {% endfor %}
      </table>
    </li>
    <li>
        <table class="table cart-totals">
          {% for total in totals %}
          <tr>
            <td class="text-left">{{ total.title ~ " :" }}</td>
            <td class="text-right">{{ total.text }}</td>
          </tr>
          {% endfor %}
        </table>
        <p class="text-center cart-button">
			<a class="view-cart" href="{{ cart }}">{{ text_cart }}</a>
			<a class="checkout-cart" href="{{ checkout }}">{{ text_checkout }}</a>
		</p>      
    </li>
    {% else %}
    <li>
      <p class="text-center cart-empty">{{ text_empty }}</p>
    </li>
    {% endif %}
  </ul>
</div>