/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.oc-banner7-container .flex-container a:active,
.oc-banner7-container .flexslider a:active,
.oc-banner7-container .flex-container a:focus,
.oc-banner7-container .flexslider a:focus  {outline: none;}
.oc-banner7-container .slides,
.oc-banner7-container .flex-control-nav,
.oc-banner7-container .flex-direction-nav {
	margin: 0; 
	padding: 0; 
	list-style: none;
} 

/* FlexSlider Necessary Styles
*********************************/ 
.oc-banner7-container .flexslider {
	margin: 0; 
	padding: 0;
}
.oc-banner7-container .flexslider .slides > li {
	display: none; 
	-webkit-backface-visibility: hidden; 
	position: relative; 
} 
/* Hide the slides before the JS is loaded. Avoids iocge jumping */
.oc-banner7-container .flexslider .slides img {
	display: block;
}
.oc-banner7-container .flex-pauseplay span {
text-transform: capitalize;
}

/* Clearfix for the .slides element */
.oc-banner7-container .slides:after {
	content: "."; 
	display: block; 
	clear: both; 
	visibility: hidden; 
	line-height: 0;
	height: 0;
} 
html[xmlns] .oc-banner7-container .slides {display: block;} 
* html .oc-banner7-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, ocke sure you
 * include js that eliminates this class on page load */
.no-js .oc-banner7-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.oc-banner7-container .flexslider {
	margin: 0 0 0px 0; 
	position: relative; 
	zoom: 1;
}
.oc-banner7-container .flex-viewport {
	max-height: 2000px; 
	-webkit-transition: all 1s ease; 
	-moz-transition: all 1s ease; 
	transition: all 1s ease;
}
.oc-banner7-container .loading .flex-viewport {
	max-height: 300px;
}
.oc-banner7-container .flexslider .slides {zoom: 1;}

.oc-banner7-container .carousel li {
	margin-right: 5px
}

/* Control Nav */
.nivo-controlNav {
	text-align:center;
	padding:0;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.oc-banner7-container .flex-control-nav,
.nivo-controlNav {
	width: 100%;
	padding:0 30px;
	position: absolute; 
	bottom: 105px;
	left:0;
	margin-top:-10px;
	text-align: center !important;
}
.oc-banner7-container .flex-control-nav li { 
	margin: 0 6px; 
	display: inline-block; 
	zoom: 1; 
	display: inline; 
}
.oc-banner7-container .flex-control-paging li a,
.nivo-controlNav a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #aaa; 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 100%; 
	-moz-border-radius: 100%; 
	-o-border-radius: 100%; 
	border-radius: 100%; 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	z-index: 9; 
}
.oc-banner7-container .flex-control-paging li a:hover,
.oc-banner7-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active {
	cursor: pointer;
}
.oc-banner7-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.oc-banner7-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.oc-banner7-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.oc-banner7-container .flex-control-thumbs img:hover {opacity: 1;}
.oc-banner7-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}
.oc-nivoslider {
	/*overflow: hidden;*/
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
    padding: 0 50px;
    text-align: center;
}
.nivo-controlNav a {
    background-color: #ffffff;
    border: 0 none;
    border-radius: 100%;
    cursor: pointer;
    display: inline-block;
    height: 8px;
    line-height: 8px;
    margin: 0 3px;
    position: relative;
    text-indent: -9999px;
    width: 8px;
}
.banner7-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	background: none repeat scroll 0% 0% transparent;
	color: #FFF;
	font-size: 16px;
	z-index: 8;
}
@-webkit-keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
@keyframes timeloading {
  from {width: 0;}
  to {width: 100%;}
 }
.timeloading{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 5px;
	animation: ease-in-out 0s normal none 1 running timeloading;
	display: none;
}
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.banner7-content {
	height: 100%;
	position: relative;
}
.banner7-content.slider-3 .text-content,
.banner7-content.slider-2 .text-content,
.banner7-content.slider-1 .text-content{
	position: absolute;
    top: 50%;
    width: 480px;
    left: 50%;
	margin-left: -565px;
	margin-top: -15px;
    padding: 0;
    z-index: 2;
    text-align: left;
    -webkit-transform: translateY(-60%);
    -moz-transform: translateY(-60%);
    -o-transform: translateY(-60%);
    transform: translateY(-60%);
}
.banner7-content.slider-2 .text-content {
	left:0;
	right:0;
	width:780px;
	margin:80px auto 0;
	text-align:center;
}
.banner7-content .title1 {
	font-size: 36px;
    text-transform: uppercase;
    color: #252531;
    font-weight: 300;
    margin: 0;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
}
.banner7-content .sub-title {
	margin: 0;
    font-size: 48px;
    color: #252531;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}
.banner7-content.slider-2 .sub-title {
	padding:0;
	background:none;
	font-size:58px;
}
.banner7-content .banner7-des {
	text-transform: inherit;
    color: #252531;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0 0;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
}
.banner7-readmore {
	position: relative;
	z-index: 10;
	margin: 50px 0 0;
}
.banner7-readmore a {
	background: none !important;
    color: #252531 !important;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    height: 51px;
    line-height: 47px;
    padding: 0 35px;
	border-radius:0;
	border:2px solid #252531;
    -webkit-transition: ease .3s all;
    -moz-transition: ease .3s all;
    transition: ease .3s all;
}
.banner7-readmore a:hover {
	background:#bda87f !important;
	color:#fff !important;
}
.banner7-content .title1 {
	animation: fadeInLeft 1000ms ease-in-out; 
	-webkit-animation: fadeInLeft 1000ms ease-in-out;
	-moz-animation: fadeInLeft 1000ms ease-in-out;
}
.banner7-content .sub-title {
	animation: fadeInLeft 1200ms ease-in-out; 
	-webkit-animation: fadeInLeft 1200ms ease-in-out;
	-moz-animation: fadeInLeft 1200ms ease-in-out;
}
.banner7-content .banner7-des {
	animation: fadeInLeft 1200ms ease-in-out; 
	-webkit-animation: fadeInLeft 1200ms ease-in-out;
	-moz-animation: fadeInLeft 1200ms ease-in-out;
}
.banner7-content .banner7-readmore {
	animation: slideInUp 1400ms linear alternate; 
	-webkit-animation: slideInUp 1400ms linear alternate;
	-moz-animation: slideInUp 1400ms linear alternate;
}
.banner7-content.slider-2 .title1 {
	animation: fadeInDown 1000ms ease-in-out; 
	-webkit-animation: fadeInDown 1000ms ease-in-out;
	-moz-animation: fadeInDown 1000ms ease-in-out;
}
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:8;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 8;
}
.nivo-caption .container{
	
}
.nivo-caption p {
	padding:5px;
	margin:0;
}

.nivo-html-caption {
    display:none;
}
/** ocslideshow **/
.banner7{
  position: relative;
  z-index: 0;;
}
.nivo-directionNav i{
	font-size: 15px;
	display: block;
	color: #fff;
}
.oc-banner7-container .flex-direction-nav a,
.nivo-directionNav a {
	width: 60px; 
	height: 60px;
	line-height:60px;
	background:rgba(0,0,0,0.1);
	margin: -30px 0 0;
	display: block;
	position: absolute;
	cursor: pointer;
	font-size: 0;
	z-index: 9;  
	text-align: center;
	top: 50%;
	opacity: 0;
	border-radius:100% !important;
}
.oc-banner7-container .flex-direction-nav .flex-next,
.oc-banner7-container .nivo-directionNav a.nivo-nextNav { 
	right: 3.88888888%; 
}
.oc-banner7-container .flex-direction-nav .flex-prev,
.oc-banner7-container .nivo-directionNav a.nivo-prevNav { 
	left: 3.88888888%;  
}
@media (max-width: 1400px){
	.oc-banner7-container .flex-direction-nav .flex-next,
	.oc-banner7-container .nivo-directionNav a.nivo-nextNav { 
		right: 35px; 
	}
	.oc-banner7-container .flex-direction-nav .flex-prev,
	.oc-banner7-container .nivo-directionNav a.nivo-prevNav { 
		left: 35px;  
	}
}
.oc-banner7-container:hover .nivo-controlNav a,
.oc-banner7-container:hover .nivo-directionNav a{  
	opacity:1;
}
.oc-banner7-container .flexslider .flex-next:hover i, 
.oc-banner7-container .nivo-directionNav a.nivo-nextNav:hover i,
.oc-banner7-container .flexslider .flex-prev:hover i, 
.oc-banner7-container .nivo-directionNav a.nivo-prevNav:hover i{ 
	color: #b3936d;
	background:#fff;
	border-radius:100% !important;
}
.oc-banner7-container .flex-direction-nav .flex-disabled {
	opacity: .3!important; 
	filter:alpha(opacity=30); 
	cursor: default; 
} 
.oc-banner7-container .nivo-controlNav a {
	border: 2px solid #dbdbdb;
	display: inline-block;
	height: 12px;
	margin: 0 5px;
	font-size: 0;
	width: 12px; 
	cursor: pointer;
	position: relative;
	z-index: 9;
	background:#dbdbdb;
	box-shadow: none;
	border-radius: 100%;
	opacity: 1;
	text-indent:inherit;
}
.oc-banner7-container .nivo-controlNav a.active,
.oc-banner7-container .nivo-controlNav a:hover {
	background:#f6f6f6;
	border: 2px solid #bda87f;
}
/** /ocslideshow **/
/* responsive */
@media(max-width: 1199px){
	.banner7-content.slider-3 .text-content, .banner7-content.slider-2 .text-content, .banner7-content.slider-1 .text-content { width: 500px; margin-left: -385px; }
	.banner7-content.slider-2 .text-content { margin:50px auto 0; }
	.banner7-content .title1 { font-size:23px; }
	.banner7-content.slider-2 .sub-title { font-size:33px; }
	.banner7-content .banner7-des { margin:20px 0 0; }
	.banner7-readmore { margin:20px 0 0; }
	.banner7-readmore a { height:40px; line-height:40px; padding:0 20px; }
	.banner7-content .sub-title { font-size:33px; }
}
@media(max-width:992px){
	.banner7-content.slider-3 .text-content, .banner7-content.slider-2 .text-content, .banner7-content.slider-1 .text-content { margin-left:-340px; width: 300px; }
	.banner7-content .sub-title { font-size:25px; }
	.banner7-content .banner7-des { font-size:12px; }
}
@media(max-width:767px){
	.banner7-content.slider-3 .text-content, .banner7-content.slider-2 .text-content, .banner7-content.slider-1 .text-content { width:230px; left:30px; margin:0; }
	.banner7-content .title1 { font-size:12px; }
	.banner7-content .sub-title { font-size:16px; }
	.banner7-content .banner7-des { margin:10px 0 0; }
	.banner7-readmore { margin:10px 0 0; }
	.banner7-readmore a {
		height: 30px;
		line-height: 30px;
		padding: 0 15px;
		font-size: 10px;
	}
	.oc-banner7-container .flex-control-nav, .nivo-controlNav { display:none; }
}
@media(max-width:480px){
	.banner7-content.slider-3 .text-content, .banner7-content.slider-2 .text-content, .banner7-content.slider-1 .text-content { left:30px; margin:6px 0 0; }
	.banner7-content .title1 { font-size:9px; }
	.banner7-content .sub-title { font-size:12px; margin:5px 0 0; }
	.banner7-content .banner7-des { margin:5px 0 0; font-size:9px; line-height:13px; }
	.banner7-readmore { margin:5px 0 0; }
	.banner7-readmore a {
		height: 25px;
		line-height: 25px;
		padding: 0 10px;
		font-size: 7px;
	}
}