<div class="search-container">
	<div class="search-content">
		<div id="search">
			<input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-lg" />
			<button type="button" class="btn btn-default btn-lg"><i class="icon-magnifier icons"></i></button>
		</div>
	</div>
</div>