{{ header }}
<div class="container">
    <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
    </ul>
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="page-title"><h2>{{ heading_title }}</h2></div>
            {% if newproductpage_status %}
                {% if products %}
					<div><a href="{{ compare }}" id="compare-total">{{ text_compare }}</a></div>
                    <div class="toolbar">
                        <div class="col-md-2 toolbar3 pull-left">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default"></button>
								<button type="button" id="grid-view" class="btn btn-default"></button>
                            </div>
                        </div>
						<div class="col-md-2 toolbar2 pull-right">
							<select id="input-limit" class="form-control" onchange="location = this.value;">
								{% for limits in limits %}
									{% if limits.value == limit %}
										<option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
									{% else %}
										<option value="{{ limits.href }}">{{ limits.text }}</option>
									{% endif %}
								{% endfor %}
							</select>
                        </div>
                        <div class="col-md-2 toolbar1 pull-right">
							<select id="input-sort" class="form-control" onchange="location = this.value;">
								{% for sorts in sorts %}
									{% if sorts.value == '%s-%s'|format(sort, order) %}
										<option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
									{% else %}
										<option value="{{ sorts.href }}">{{ sorts.text }}</option>
									{% endif %}
								{% endfor %}
							</select>
                        </div>
                    </div>
                    <div class="custom-products">
                        {% for product in products %}
                            <div class="product-layout product-list col-xs-12">
                                <div class="product-thumb">
									<div class="item-inner">
										<div class="image">
											<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
											<div class="actions">
												<div class="add-to-links">
													<div class="wishlist">
														<button type="button" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span>{{ button_wishlist }}</span></button>
													</div>
													<div class="compare">
														<button type="button" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><span>{{ button_compare }}</span></button>
													</div>
													<div class="cart">
														<button type="button" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span>{{ button_cart }}</span></button>
													</div>
													<div class="qv-button-container">
														<button type="button" title="{{ button_quickview }}" onclick="ocquickview.ajaxView('{{ product.href }}')"><span>{{ button_quickview }}</span></button>
													</div>
												</div>
											</div>
										</div>
										<div class="caption">
											{% if product.rating %}
												<div class="ratings">
													<div class="rating-box">
													{% for i in 1..5 %}
														{% if product.rating == i %}
														{% set class_r = "rating"~i %}
														<div class="{{ class_r }}">rating</div>
														{% endif %}
													{% endfor %}
													</div>
												</div>					
											{% endif %}
											<h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
											{% if product.price %}
												<p class="price"> {% if not product.special %}
														{{ product.price }}
													{% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
													{% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
											{% endif %}
											<p class="product-des">{{ product.description }}</p>
										</div>
									</div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row toolbar4">
                        <div class="col-sm-6">{{ pagination }}</div>
                        <div class="col-sm-6 text-right">{{ results }}</div>
                    </div>
                {% else %}
                    <p>{{ text_empty }}</p>
                    <div class="buttons">
                        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
                    </div>
                {% endif %}
            {% else %}
                <p>{{ text_not_available }}</p>
                <div class="buttons">
                    <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
                </div>
            {% endif %}
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}