.layernavigation-module{
	clear: both;
	border:1px solid #ebebeb;
}
.layernavigation-module .panel{
	border: none;
	border-radius: 0;
	box-shadow: none;
	background:none;
}
.layered-navigation-block { display: none; background-color : black; height : 100%; opacity : 0.35; position : fixed; top : 0; left: 0; width : 100%; z-index : 9999; }
.ajax-loader { display: none; z-index: 1000; position: fixed; top: 50%; left: 50%; }
.layered-heading {
	font-size: 28px;
    color: #333333;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 0 20px;
    position: relative;
    display: none;;
}
.layer-category .list-group-item { border: 0 !important;}
.layer-category .list-group a:not(.remove-filter) { display: block; margin: 10px 0;}
.filter-attribute-container.filter-attribute-remove-container { padding:0; }
.filter-attribute-container:last-child { border-bottom: 0; }
.filter-attribute-container .remove-filter { position: absolute; right: 10px; bottom: 18px; font-size: 0; width: 15px; height: 15px; padding: 0; background: url(image/remove-icon.png) no-repeat;   border: 0; }
.filter-attribute-container .remove-filter:hover { background: url(image/remove-icon.png) no-repeat; opacity: 0.5; border: 0; }
.filter-attribute-container .filter-clear-all { text-align: right; }
.filter-attribute-container .filter-clear-all .clear-filter { background: none; color: #23a1d1; }
.filter-attribute-container .filter-clear-all .clear-filter:hover { background: none; color: #2a6496; }
.filter-attribute-container.filter-attribute-remove-container .list-group-item{ margin-bottom: 0px !important;}
.filter-attribute-container .list-group-item { background: none; padding: 0px; border: none; overflow: hidden; position: relative; margin-bottom: 0; margin-top:0; }
.filter-attribute-container .list-group-item p {  margin: 0; }
.filter-attribute-container .list-group-item .filter-price .input-price {  width: 50px; margin: 0 0px 0 0; border: none; background: none; }
.filter-attribute-container .list-group-item .filter-price .input-price:hover { cursor: not-allowed; }
.filter-attribute-container .list-group-item .filter-price #slider-price { margin: 10px 0px 0px; border-radius: 0; }
.filter-attribute-container .list-group-item .filter-price .slider-values { 
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	margin-top: 10px;
	color: #363f4d; 
	font-weight: 400;
}
.filter-attribute-container .list-group-item .filter-price .slider-values span { margin: 0 0 0 10px; }
.list-group .filter-attribute-container a { border: 0; }
.layernavigation-container h3{
    margin-bottom: 30px;
}
.layered{
    border: none;
	padding: 0;
}
.filter-price{
	padding: 0 15px;
}
.filter-prices {
	background: #f1f2f4;
	margin: 0 0 20px;
	padding: 0;
}
.layered .list-group .filter-attribute-container:last-child  .list-group-item{
	margin-bottom: 0 !important;
}
.layered .list-group{
    margin-bottom: 0px;
}
.filter-attribute-remove-container div{
    padding: 10px 0;
    font-size: 13px;
}
.filter-attribute-remove-container .filter-act-name p {
	font-size:14px;
	color:#b2b2b2;
	text-transform:capitalize;
	font-weight:300;
}
.filter-attribute-remove-container .filter-act-name span:hover{
    color: #bda87f;
}
.filter-attribute-container {
    border: none;
	padding:20px;
}
.filter-attribute-container.filter-price {
	background:#f1f2f4;
}
.filter-attribute-remove-container .list-group-item{
	padding: 20px 0 0;
}
.filter-attribute-container label{
    font-size: 13px;
    color: #252531;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 0 15px;
    position: relative;
    display: inline-block;
	font-family: 'Poppins', sans-serif;
}
#slider-price.ui-slider-horizontal{
    height: 4px;
	position:relative;
}
#slider-price .ui-widget-header {
	background: #b3936d;
	position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
	top: 0;
    height: 100%;
}
#slider-price.ui-widget-content {
    background: #29323b;
    border: none !important;
}
.ui-state-default:hover, .ui-widget-content .ui-state-default:hover, 
.ui-widget-header .ui-state-default:hover{
	background: #b3936d;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    background: #fff;
    border: none;
}
.ui-slider .ui-slider-handle{
    width: 14px;
    height: 14px;
    top: -5px;
	background:#b3936d;
	border-radius:100%;
	position:absolute;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):last-child{
    background: none;
	border:0;
	padding-bottom:0;
	margin-bottom:0;
}
.filter-attribute-container .list-group-item a:not(.remove-filter):hover{
	color: #bda87f;
}
.filter-attribute-container .list-group-item a:not(.remove-filter) i{
	margin-right: 10px;
	font-size: 14px;
	margin-left: 1px;
	color: #707070;
}
.filter-attribute-container .list-group-item a:not(.remove-filter){
	text-transform: capitalize;
	color: #363f4d;
	font-size:14px;
	font-weight:400;
	padding-bottom:13px;
}
.list-group .filter-attribute-container a.add-filter:before {
    content: "\f383";
    font-family: "Ionicons";
    width: 17px;
    height: 17px;
    line-height: 15px;
    border: 1px solid #dfdfdf;
    display: inline-block;
    margin-right: 10px;
    border-radius: 2px;
    text-align: center;
    color: transparent;
}
.list-group .filter-attribute-container a.add-filter:hover:before {
    color: #fff;
    background: #bda87f;
    border-color: #bda87f;
}
@media (max-width: 1199px){
	.filter-price { padding:0 15px 0 0; }
	.filter-attribute-container .list-group-item .filter-price .slider-values { font-size:12px; }
	.filter-attribute-container.filter-price { padding:15px; }
}