<div class="feature-products">
	<div class="module-title"><h2>{{ heading_title }}</h2></div>
	 {% for product in products %}
	  <div class="product-layout">
		<div class="product-thumb transition">
			<div class="item-inner">
				<div class="image">
					<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a>
				</div>
			  <div class="caption">
				{% if product.rating %}
				<div class="ratings">
					<div class="rating-box">
					{% for i in 1..5 %}
						{% if product.rating == i %}
						{% set class_r = "rating"~i %}
						<div class="{{ class_r }}">rating</div>
						{% endif %}
					{% endfor %}
					</div>
				</div>					
				{% endif %}
				<h4 class="product-name"><a href="{{ product.href }}">{{ product.name }}</a></h4>
				<!-- <p>{{ product.description }}</p> -->
				{% if product.price %}
				<p class="price">
				  {% if not product.special %}
				  {{ product.price }}
				  {% else %}
				  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
				  {% endif %}
				  {% if product.tax %}
				  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
				  {% endif %}
				</p>
				{% endif %}
			  </div>
			</div>
		</div>
	  </div>
	  {% endfor %}
</div>