/* product grid */
.product-grid {
	margin-bottom:50px;
}
.product-grid .caption{
	padding: 13px 0 0;
	text-align:center;
}
.product-name{	
	font-size: 14px;
	text-transform: capitalize;
	margin: 0 0 10px;
	line-height: 14px;
	font-weight:400;
}
.product-name a {
	color: #676767;
	-webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.product-name a:hover {
	color: #b3936d;
}
.price-tax{
	display: none;
}
.price {
	color: #676767;
	font-size: 13px;
	margin: 0;
	font-family: 'Rubik', sans-serif;
	font-weight:400;
	min-height:30px;
}
.price-old {
	color:#c2c2c2;
	font-size:13px;
	color:#c2c2c2;
	text-decoration: line-through;
	margin-right: 8px;
	font-weight:400;
}
.price-new {
	font-weight:500;
}
.product-des{
	color: #898989;
	line-height: 24px;
	letter-spacing: .025em;
	margin: 20px 0 0 0;	
}
.product-list .product-des{
	margin: 20px 0 0 0;	
	font-size:14px;
	color:#363f4d;
	font-weight:400;
	line-height:23px;
}
.product-list .item-inner .caption .cart {
	margin:40px 0 0;
}
.ratings .rating-box div[class^="rating"]{
	background-repeat: no-repeat;
	background-position: center center;
	font-size: 0;
	height: 11px;
}
.ratings .rating-box .rating0{
	background-image: url("image/rating0.png")
}
.ratings .rating-box .rating1{
	background-image: url("image/rating1.png")
}
.ratings .rating-box .rating2{
	background-image: url("image/rating2.png")
}
.ratings .rating-box .rating3{
	background-image: url("image/rating3.png")
}
.ratings .rating-box .rating4{
	background-image: url("image/rating4.png")
}
.ratings .rating-box .rating5{
	background-image: url("image/rating5.png")
} 
.image > a{
	display: block;
	overflow: hidden;
	position: relative;
}
.image{
	position: relative;
	overflow:hidden;
	z-index: 4;
}
.img-r{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
}
.product-layout:hover .img-r{
	opacity: 1;
}
.action-links,
.image img{
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	transition: all .7s ease 0s;
}
.item-inner {
	position:relative;
}
.item-inner .ratings {
	width:100%;
	margin: 0 auto;
	padding:0 0 12px;
    -webkit-transition: ease-in-out .3s all;
    -moz-transition: ease-in-out .3s all;
    transition: ease-in-out .3s all;
}
.item-inner:hover .ratings {
	opacity:1;
	-webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
}
.item-inner .actions {
    position: absolute;
    bottom: 0;
    left: -110px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    opacity: 0;
    background: none;
	z-index:2;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    transition: ease .5s all;
}
.item-inner:hover .actions {
    left:0;
	opacity:1;
}
.item-inner .actions .add-to-links {
    padding: 0;
    text-align: center;
	background:#fff;
	display:inline-block;
	box-shadow:1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
.item-inner .add-to-links div {
    display: inline-block;
    list-style: none;
	float:left;
}
.item-inner .add-to-links div:first-child {
	margin:0;
}
.item-inner .add-to-links button {
    line-height: 45px;
    height: 45px;
    width: 45px;
    border-radius: 3px;
    padding: 0;
    position: relative;
    text-align: center;
    font-weight: 400;
    display: inline-block;
    font-size: 0;
    color: #676767;
    cursor: pointer;
    border: 0;
    background: none;
    -webkit-transition: ease .5s all;
    -moz-transition: ease .5s all;
    transition: ease .5s all;
}
.item-inner .add-to-links button:after {
	content:'';
	position:absolute;
	right:0;
	top:11px;
	width:1px;
	height:20px;
	background:#ebebeb;
}
.item-inner .add-to-links button:before {
    font-family: 'Stroke-Gap-Icons';
    display: inline-block;
    font-size: 18px;
}
.item-inner .add-to-links .cart button:before {
    content: "\e680";
}
.item-inner .add-to-links .wishlist button:before {
    content: "\e67e";
}
.item-inner .add-to-links .compare button:before {
    content: "\e684";
}
.item-inner .add-to-links .qv-button-container button:before {
    content: "\e6a4";
}
.item-inner .add-to-links div:last-child button:after {
	display:none;
}
.item-inner .add-to-links button:hover {
	color:#bda87f;
}
.label-product {
	position: absolute;
    top: 0;
    left: 0;
    width: auto;
	height: 22px;
	line-height:22px;
	padding: 0 10px;
	font-size:12px;
	color:#f6f6f6;
	background:#adbcc1;
    display: inline-block;
	font-family: 'Poppins', sans-serif;
	text-transform:uppercase;
	z-index:9;
}
.label-product.label_sale {
	background: #bda87f;
}
.label-product + .label-product{
	display: none;
}
.btn-cart span{
	display: none;	
}
.manufacture-product a:hover{
	color: #ee3333
}
.manufacture-product a{
	vertical-align: top;
	color: #929292;
	letter-spacing: .025em;
	line-height: 18px;
	text-transform: capitalize;
}
.manufacture-product{
	color: #929292;
	float: left;
	width: 50%;
	display:none;
}
/* tabs product */
.tt-product { text-align:center; }
.tab-heading.nav-pills > li.active a:focus,
.tab-heading.nav-pills > li.active a:hover,
.tab-heading.nav-pills > li.active a,
.tab-heading.nav-pills > li a:focus,
.tab-heading.nav-pills > li a:hover{
	color: #333333;
	background: none;
}
.tab-heading.nav-pills > li a {
	background: none;
	color: #777777;
	margin: 0;
	font-size: 28px;
	line-height: 1;
	text-transform: capitalize;
	padding: 0 0 20px;
	cursor: pointer;
	position: relative;
	font-weight:400;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.tab-heading.nav-pills > li a:before {
	content:'';
	height:5px;
	width:60%;
	background:#b3936d;
	position:absolute;
	left:0;
	bottom:0;
	opacity:0;
	-webkit-transition: all 300ms ease-in;
	-moz-transition: all 300ms ease-in;
	-ms-transition: all 300ms ease-in;
	-o-transition: all 300ms ease-in;
	transition: all 300ms ease-in;
}
.tab-heading.nav-pills > li a:hover:before,
.tab-heading.nav-pills > li.active a:before {
	opacity:1;
}
.tab-heading.nav-pills > li {
	float: none;
	display: inline-block;
	position: relative;
	margin-right:30px;
	z-index:1;
}
.tab-heading.nav-pills > li:first-child a {
	padding-left:0;
	margin-left:0;
}
.tab-heading.nav-pills > li:last-child a {
	padding-right:0;
	margin-right:0;
}
.tab-heading {
	width:100%;
	text-align: left;
	padding: 0;
	display: inline-block;
    position: relative;
    margin-bottom: 30px !important;
}
/* responsive */
@media(max-width: 1199px){
	.item-inner .add-to-links div.qv-button-container { display:none !important; }
}
@media(max-width: 992px){
	.item-inner .add-to-links .compare button:after { display:none; }
}
@media(max-width: 560px){
	.tab-heading:before { display:none !important; }
	.tab-heading.nav-pills > li a { margin:0; }
}
@media(max-width: 480px){
	.tab-heading.nav-pills > li a { font-size:20px; }
	.tab-heading.nav-pills > li { margin-right:15px; }
}